@using DGRA_V1.Common;
@using DGRA_V1.Models;
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Emial Report Settings";
}

@{ 
    string username = @HttpContextAccessor.HttpContext.Session.GetString("DisplayName");
    string role = @HttpContextAccessor.HttpContext.Session.GetString("role");
    string user_id = @HttpContextAccessor.HttpContext.Session.GetString("userid");
}

@*
       @{
        List<EmailReportTimingsLog> list = new List<EmailReportTimingsLog>();
        var obj = new EmailReportTimingsLog();
        list = obj.GetTimeList();
        string dailyTime = @HttpContextAccessor.HttpContext.Session.GetString("DailyReportTime");
        string windWeeklyTime = @HttpContextAccessor.HttpContext.Session.GetString("WindWeeklyTime");
        string solarWeeklyTime = @HttpContextAccessor.HttpContext.Session.GetString("SolarWeeklyTime");
        string windWeeklyDay = @HttpContextAccessor.HttpContext.Session.GetString("WindWeeklyDay");
        string solarWeeklyDay = @HttpContextAccessor.HttpContext.Session.GetString("SolarWeeklyDay") ;
        
    }

*@

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="~/Content/theme/plugins/fontawesome-free/css/all.min.css">
<!-- daterange picker -->
<link rel="stylesheet" href="~/Content/theme/plugins/daterangepicker/daterangepicker.css">
<!-- DataTables -->
<link rel="stylesheet" href="~/Content/theme/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/Content/theme/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/Content/theme/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

<link href="~/Content/theme/dist/css/adminlte.css" rel="stylesheet" />
<style>
    .tab-btn {
        font-size: 0.7rem;
        font-weight: bold;
    }
</style>

<div class="content-wrapper">
    <div class="card-header">
        <h3 class="card-title  text-center">Email Report Time</h3>
    </div>
    <div style="display: flex; position: fixed; z-index: 9999;">
        <div id="loader" class="loader center" style="display:none; "></div>
    </div>

    <section class="content-header">
    </section>


    <section class="content">
        <div class="card">
            <div class="card-body">
                <div class="" style="display: flex; flex-direction: row; justify-content: center; align-items: center; gap: 40%">
                    <div style="display: flex; flex-direction: column; justify-content: end; align-items: center; gap: 1rem">
                        <div class="">
                            <div class="">Daily Report Time : <strong id="dailyTime"> </strong> </div>
                        </div>
                        <div class="">
                            <label class="">Wind Weekly Report Time: <strong id="windWeeklyTime"></strong> </label>
                        </div>
                        <div class="">
                            <label class="">Solar Weekly Report Time : <strong id="solarWeeklyTime">  </strong></label>
                        </div>
                        <div class="">
                            <label class="">Solar Monthly Report Time : <strong id="solarMonthlyTime">  </strong></label>
                        </div>
                        <div class="">
                            <label class="">Wind Monthly Report Time : <strong id="windMonthlyTime">  </strong></label>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: column; justify-content: end; align-items: center; gap: 1rem">
                        <div class="">
                            <label class=""></label>
                        </div>
                        <div class="">
                            <label class="">Wind Weekly Report Day : <strong id="windWeeklyDay"> </strong> </label>
                        </div>
                        <div class="">
                            <label class="">Solar Weekly Report Day : <strong id="solarWeeklyDay"> </strong> </label>
                        </div>
                        <div class="">
                            <label class="">Solar Monthly Report Date : <strong id="solarmonthlydate"> </strong> </label>
                        </div>
                        <div class="">
                            <label class="">Wind Monthly Report Date : <strong id="windmonthlydate"> </strong> </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title  text-center">Update Email Report Time</h3>
            </div>
            <div class="card-body">
                <div class="" style="display: flex; flex-direction: row; justify-content: center; align-items: center; gap: 20%; padding-left: 10%; padding-right: 10%; width:100%;">
                    <div style="display: flex; flex-direction: column; justify-content: end; align-items: center; gap: 1rem; width: 100%">
                        <div class="" style="display: flex; flex-direction: row; width:100%">
                            <label class="" style="width: 100%">Daily Report Time : </label>
                            <input type="time" class="" style="display: block; width: 100%; border: 1px; border-style: solid; border-color: #ced4da; border-radius: 0.25rem; font-size: 1rem; font-weight: 400; line-height: 1.5; padding-top: 0.375rem; padding-bottom: 0.375rem; padding-left: 0.75rem; padding-right: 0.75rem; " id="dailyReport" name="dailyReport" placeholder="Enter Daily report Time ">
                        </div>
                        <div class="" style="display: flex; flex-direction: row; width: 100%">
                            <label class="" style="width: 100%">Wind Weekly Report Time: </label>
                            <input type="time" class="" style="display: block; width: 100%; border: 1px; border-style: solid; border-color: #ced4da; border-radius: 0.25rem; font-size: 1rem; font-weight: 400; line-height: 1.5; padding-top: 0.375rem; padding-bottom: 0.375rem; padding-left: 0.75rem; padding-right: 0.75rem; " id="windWeeklyReport" name="windWeeklyReport" placeholder="Enter Wind Weekly Report Time ">
                        </div>
                        <div class="" style="display: flex; flex-direction: row; width: 100%">
                            <label class="" style="width: 100%">Solar Weekly Report Time : </label>
                            <input type="time" class="" style="display: block; width: 100%; border: 1px; border-style: solid; border-color: #ced4da; border-radius: 0.25rem; font-size: 1rem; font-weight: 400; line-height: 1.5; padding-top: 0.375rem; padding-bottom: 0.375rem; padding-left: 0.75rem; padding-right: 0.75rem; " id="solarWeeklyReport" name="solarWeeklyReport" placeholder="Enter Solar Weekly Report Time ">
                        </div>
                        <div class="" style="display: flex; flex-direction: row; width: 100%">
                            <label class="" style="width: 100%">Solar Monthly Report Time : </label>
                            <input type="time" class="" style="display: block; width: 100%; border: 1px; border-style: solid; border-color: #ced4da; border-radius: 0.25rem; font-size: 1rem; font-weight: 400; line-height: 1.5; padding-top: 0.375rem; padding-bottom: 0.375rem; padding-left: 0.75rem; padding-right: 0.75rem; " id="solarmonthlyreport" name="solarmonthlyreport" placeholder="Enter Solar Weekly Report Time ">
                        </div>
                        <div class="" style="display: flex; flex-direction: row; width: 100%">
                            <label class="" style="width: 100%">Wind Monthly Report Time : </label>
                            <input type="time" class="" style="display: block; width: 100%; border: 1px; border-style: solid; border-color: #ced4da; border-radius: 0.25rem; font-size: 1rem; font-weight: 400; line-height: 1.5; padding-top: 0.375rem; padding-bottom: 0.375rem; padding-left: 0.75rem; padding-right: 0.75rem; " id="windmonthlyreport" name="windmonthlyreport" placeholder="Enter Solar Weekly Report Time ">
                        </div>
                    </div>

                    <div style="display: flex; flex-direction: column; justify-content: end; align-items: center; gap: 1rem; width: 100%">
                        <div class="" style="display: flex; flex-direction: row; width: 100%; padding: 1.3rem;">
                            <label class="" style="width: 100%"></label>
                        </div>
                        <div class="" style="display: flex; flex-direction: row; width: 100%">
                            <label class=" " style="width: 100%">Wind Weekly Report Day : </label>
                            <select id="windweekday" style="display: block; width: 100%; border: 1px; border-style: solid; border-color: #ced4da; border-radius: 0.25rem; font-size: 1rem; font-weight: 400; line-height: 1.5; padding-top: 0.375rem; padding-bottom: 0.375rem; padding-left: 0.75rem; padding-right: 0.75rem; " name="windweekday" onchange="windDaySelect()">
                                <option value="Mon">Mon</option>
                                <option value="Tue">Tue</option>
                                <option value="Wed">Wed</option>
                                <option value="Thu">Thu</option>
                                <option value="Fri">Fri</option>
                                <option value="Sat">Sat</option>
                                <option value="Sun">Sun</option>
                            </select>
                        </div>
                        <div class="" style="display: flex; flex-direction: row; width: 100%">
                            <label class=" " style="width: 100%">Solar Weekly Report Day : </label>
                            <select id="solarweekday" style="display: block; width: 100%; border: 1px; border-style: solid; border-color: #ced4da; border-radius: 0.25rem; font-size: 1rem; font-weight: 400; line-height: 1.5; padding-top: 0.375rem; padding-bottom: 0.375rem; padding-left: 0.75rem; padding-right: 0.75rem; " name="solarweekday" onchange="solarDaySelect()">
                                <option value="Mon">Mon</option>
                                <option value="Tue">Tue</option>
                                <option value="Wed">Wed</option>
                                <option value="Thu">Thu</option>
                                <option value="Fri">Fri</option>
                                <option value="Sat">Sat</option>
                                <option value="Sun">Sun</option>
                            </select>
                        </div>
                        <div class="" style="display: flex; flex-direction: row; width: 100%">
                            <label class=" " style="width: 100%">Solar Monthly Report Date : </label>
                            <select id="solarmonthdate" style="display: block; width: 100%; border: 1px; border-style: solid; border-color: #ced4da; border-radius: 0.25rem; font-size: 1rem; font-weight: 400; line-height: 1.5; padding-top: 0.375rem; padding-bottom: 0.375rem; padding-left: 0.75rem; padding-right: 0.75rem; " name="solarmonthdate" onchange="solarDateSelect()">
                                
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>
                        </div>
                        <div class="" style="display: flex; flex-direction: row; width: 100%">
                            <label class=" " style="width: 100%">Wind Monthly Report Date : </label>
                            <select id="windmonthdate" style="display: block; width: 100%; border: 1px; border-style: solid; border-color: #ced4da; border-radius: 0.25rem; font-size: 1rem; font-weight: 400; line-height: 1.5; padding-top: 0.375rem; padding-bottom: 0.375rem; padding-left: 0.75rem; padding-right: 0.75rem; " name="windmonthdate" onchange="windDateSelect()">
                                
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6"></div>
            </div>
            <div class="row"><p><br></p></div>
            <div class="row">
                <div class="col-sm-4"></div>

                <div class="col-sm-2"><button type="button" class="btn btn-block btn-success" onclick="Update()">Update</button></div>
                <div class="col-sm-2"> <button type="button" class="btn btn-block btn-danger" onclick="Cancel()">Cancel</button></div>
                <div class="col-sm-4"></div>
            </div>
            <div class="row"><p><br></p></div>
        </div>

    </section>

    <div class="card-header">
        <h3 class="card-title  text-center">DGR uploading reminders</h3>
    </div>
    <div style="display: flex; position: fixed; z-index: 9999;">
        <div id="loader" class="loader center" style="display:none; "></div>
    </div>

    <section class="content-header">
    </section>


    <section class="content">
        <div class="card">
            <div class="card-body">
                <div class="" style="display: flex; flex-direction: row; justify-content: center; align-items: center; gap: 40%">
                    <div style="display: flex; flex-direction: column; justify-content: end; align-items: center; gap: 1rem">
                        @*<div class="">
                            <div class="">Daily Report Time : <strong id="dailyTime"> </strong> </div>
                        </div>*@
                        <div class="">
                            <label class="">1st Reminder : <strong id="firstReminderTime"></strong> </label>
                        </div>
                        @*<div class="">
                            <label class="">Solar Weekly Report Time : <strong id="solarWeeklyTime">  </strong></label>
                        </div>*@
                    </div>
                    <div style="display: flex; flex-direction: column; justify-content: end; align-items: center; gap: 1rem">
                        
                        <div class="">
                            <label class="">2st Reminder : <strong id="secondReminderTime"></strong> </label>
                        </div>
                        @*<div class="">
                            <label class="">Solar Weekly Report Day : <strong id="solarWeeklyDay"> </strong> </label>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title  text-center">Update DGR uploading reminders</h3>
            </div>
            <div class="card-body">
                <div class="" style="display: flex; flex-direction: row; justify-content: center; align-items: center; gap: 20%; padding-left: 10%; padding-right: 10%; width:100%;">
                    <div style="display: flex; flex-direction: column; justify-content: end; align-items: center; gap: 1rem; width: 100%">
                        
                        <div class="" style="display: flex; flex-direction: row; width: 100%">
                            <label class="" style="width: 100%">1st Reminder : </label>
                            <input type="time" class="" style="display: block; width: 100%; border: 1px; border-style: solid; border-color: #ced4da; border-radius: 0.25rem; font-size: 1rem; font-weight: 400; line-height: 1.5; padding-top: 0.375rem; padding-bottom: 0.375rem; padding-left: 0.75rem; padding-right: 0.75rem; " id="firstReminder" name="firstReminder" placeholder="Enter First Reminder Time ">
                        </div>
                       
                    </div>

                    <div style="display: flex; flex-direction: column; justify-content: end; align-items: center; gap: 1rem; width: 100%">
                        
                        <div class="" style="display: flex; flex-direction: row; width: 100%">
                            <label class="" style="width: 100%">2st Reminder : </label>
                            <input type="time" class="" style="display: block; width: 100%; border: 1px; border-style: solid; border-color: #ced4da; border-radius: 0.25rem; font-size: 1rem; font-weight: 400; line-height: 1.5; padding-top: 0.375rem; padding-bottom: 0.375rem; padding-left: 0.75rem; padding-right: 0.75rem; " id="secondReminder" name="secondReminder" placeholder="Enter Second Reminder Time ">
                        
                        </div>
                        
                    </div>
                </div>
                <div class="col-sm-6"></div>
            </div>
            <div class="row"><p><br></p></div>
            <div class="row">
                <div class="col-sm-4"></div>

                <div class="col-sm-2"><button type="button" class="btn btn-block btn-success" onclick="UpdateReminder()">Update</button></div>
                <div class="col-sm-2"> <button type="button" class="btn btn-block btn-danger" onclick="CancelReminder()">Cancel</button></div>
                <div class="col-sm-4"></div>
            </div>
            <div class="row"><p><br></p></div>
        </div>

    </section>


</div>
<script src="~/Content/theme/plugins/jquery/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="~/Content/theme/plugins/moment/moment.min.js"></script>
<script src="~/Content/theme/plugins/daterangepicker/daterangepicker.js" defer></script>
<script src="~/Content/theme/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>

<script src="~/Content/theme/plugins/summernote/summernote-bs4.min.js"></script>
<!--Datatable -->
<script src="~/Content/theme/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/theme/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Content/theme/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Content/theme/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/Content/theme/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/Content/theme/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="~/Content/theme/plugins/jszip/jszip.min.js"></script>
<script src="~/Content/theme/plugins/pdfmake/pdfmake.min.js"></script>
<script src="~/Content/theme/plugins/pdfmake/vfs_fonts.js"></script>
<script src="~/Content/theme/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/Content/theme/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="~/Content/theme/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script src="~/Content/theme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
    var windWeekDay = "";
    var solarWeekDay = "";
    var solarmonthlydate = "";
    var windmonthlydate = "";
    var loader = document.getElementById("loader").style;
    var username = "@username";
    var role = "@role";
    var user_id = parseInt("@user_id", 10);
    var email_log_id = 0;

    window.onload = function () {
        Cancel();
        GetEmailTime();
    }
    var temp1 = "";
    var temp2 = "";
    var temp3 = "";
    var temp4 = "";
    var temp5 = "";
    var temp6 = "";
    var temp7 = "";
    var temp8 = "";
    var temp9 = "";
    var temp10 = "";
    var temp11 = "";

    function GetEmailTime() {
        console.log("Inside GetEmialTime function.");
        var dailyTime          = document.getElementById("dailyTime");
        var windWeeklyTime     = document.getElementById("windWeeklyTime");
        var solarWeeklyTime    = document.getElementById("solarWeeklyTime");
        var windWeeklyDay      = document.getElementById("windWeeklyDay");
        var solarWeeklyDay     = document.getElementById("solarWeeklyDay");
        var firstReminderTime  = document.getElementById("firstReminderTime");
        var secondReminderTime = document.getElementById("secondReminderTime");

        var solarMonthlyTime   = document.getElementById("solarMonthlyTime");
        var windMonthlyTime    = document.getElementById("windMonthlyTime");
        var solarmonthlydate   = document.getElementById("solarmonthlydate");
        var windmonthlydate    = document.getElementById("windmonthlydate");

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetEmailTime", "Home")',
            //url: "/Home/WindNewUserRegister?fname=" + fname + "&useremail=" + useremail + "&role=" + role + "&created_on=" + created_on,
            contentType: "application/json; charset=utf-8",
            // data: '{"state":"' + val + '"}',
            datatype: "html",
            success: function (result, status, xhr) {
                //console.log("Result after getemailtime api Successful : ");
                //console.log(result);
                if (result.length > 0) {
                    console.log("Inside If : ");
                    email_log_id = result[0].email_report_timings_log_id;
                    temp1 = result[0].daily_report.toString();
                    temp2 = result[0].wind_weekly.toString();
                    temp3 = result[0].solar_weekly.toString();
                    temp4 = result[0].wind_weekly_day.toString();
                    temp5 = result[0].solar_weekly_day.toString();
                    temp6 = result[0].first_dgr_reminder.toString();
                    temp7 = result[0].second_dgr_reminder.toString();

                    temp8 = result[0].solar_monthly_time.toString();
                    temp9 = result[0].wind_monthly_time.toString();
                    temp10 = result[0].solar_monthly_date.toString();
                    temp11 = result[0].wind_monthly_date.toString();
                    
                    dailyTime.innerHTML = temp1;
                    windWeeklyTime.innerHTML = temp2;
                    solarWeeklyTime.innerHTML = temp3;
                    windWeeklyDay.innerHTML = temp4;
                    solarWeeklyDay.innerHTML = temp5;
                    firstReminderTime.innerHTML = temp6;
                    secondReminderTime.innerHTML = temp7;

                    solarMonthlyTime.innerHTML = temp8;
                    windMonthlyTime.innerHTML = temp9;
                    solarmonthlydate.innerHTML = temp10;
                    windmonthlydate.innerHTML = temp11;
                }
            }
        });

    }
    function windDaySelect() {
        windWeekDay = document.getElementById("windweekday").value;
        console.log("Wind Week Day Selected is  : " + windWeekDay);
    }
    function solarDaySelect() {
        solarWeekDay = document.getElementById("solarweekday").value;
        console.log("Solar Week Day Selected is  : " + solarWeekDay);
    }

   function solarDateSelect() {
       solarmonthdate = document.getElementById("solarmonthdate").value;
       console.log("Solar Monthly Date Selected is  : " + solarmonthdate);
    }

    function windDateSelect() {
        windmonthdate = document.getElementById("windmonthdate").value;
        console.log("Solar Week Day Selected is  : " + windmonthdate);
    }


    function Update() {
        if (loader.display == "none") {
            loader.display = "flex";
        }
        if (loader.display == "flex") {
            loader.display = "flex";
        }
        var dailytime = document.getElementById("dailyReport").value;
        var windWeeklyTime = document.getElementById("windWeeklyReport").value;
        var solarWeeklyTime = document.getElementById("solarWeeklyReport").value;
        var firstReminderTime = document.getElementById("firstReminder").value;
        var secondReminderTime = document.getElementById("secondReminder").value;

        var solarmonthlytime = document.getElementById("solarmonthlyreport").value;
        var windmonthlytime = document.getElementById("windmonthlyreport").value;

        var solarmonthdate = document.getElementById("solarmonthdate").value;
        var windmonthdate = document.getElementById("windmonthdate").value;

        if (dailytime === "" && windWeeklyTime === "" && solarWeeklyTime === "" && windWeekDay === "" && solarWeekDay === "" && solarmonthlytime === "" && windmonthlytime === "" && solarmonthdate === "" && windmonthdate === "") {
            alert("Please enter data...!");
            if (loader.display == "flex") {
                loader.display = "none";
            }
        } else {
            if (dailytime !== "") {
                dailytime = dailytime;
            } else {
                dailytime = temp1;
            }
            if (windWeeklyTime !== "") {
                windWeeklyTime = windWeeklyTime;
            } else {
                windWeeklyTime = temp2;
            }
            if (solarWeeklyTime !== "") {
                solarWeeklyTime = solarWeeklyTime;
            } else {
                solarWeeklyTime = temp3;
            }
            if (windWeekDay !== "") {
                windWeekDay = windWeekDay;
            } else {
                windWeekDay = temp4;
            }
            if (solarWeekDay !== "") {
                solarWeekDay = solarWeekDay;
            } else {
                solarWeekDay = temp5;
            }
            if (firstReminderTime !== "") {
                firstReminderTime = firstReminderTime;
            } else {
                firstReminderTime = temp6;
            }
            if (secondReminderTime !== "") {
                secondReminderTime = secondReminderTime;
            } else {
                secondReminderTime = temp7;
            }

            if (solarmonthlytime !== "") {
                solarmonthlytime = solarmonthlytime;
            } else {
                solarmonthlytime = temp8;
            }

            if (windmonthlytime !== "") {
                windmonthlytime = windmonthlytime;
            } else {
                windmonthlytime = temp9;
            }
            if (solarmonthdate !== "") {
                solarmonthdate = solarmonthdate;
            } else {
                solarmonthdate = temp10;
            }
            if (windmonthdate !== "") {
                windmonthdate = windmonthdate;
            } else {
                windmonthdate = temp11;
            }
            console.log("username : ", username, " role : ", role, " user_id : ", user_id);
            $.ajax({
                type: "POST",
                url: '@Url.Action("EmailReportTimeChangeSetting", "Home")' + '?dailytime=' + dailytime + '&windweeklytime=' + windWeeklyTime + '&solarweeklytime=' + solarWeeklyTime + '&windweekday=' + windWeekDay + '&solarweekday=' + solarWeekDay + '&firstReminderTime=' + firstReminderTime + '&secondReminderTime=' + secondReminderTime + '&solarmonthlytime=' + solarmonthlytime + '&windmonthlytime=' + windmonthlytime + '&solarmonthdate=' + solarmonthdate + '&windmonthdate=' + windmonthdate + "&username=" + username + "&user_id=" + user_id + "&role=" + role + "&email_logId=" + email_log_id,
                contentType: "application/json; charset=utf-8",
                datatype: "html",
                success: function (result, status, xhr) {
                    console.log("hello result of api "+result);
                    if (result == 1) {
                        loader.display = "none";
                        alert("Updated successfully!");
                        //location.href = "/Home/Dashbord";
                        GetEmailTime();
                        Cancel();
                    }
                }
            });
        }
    }
    function UpdateReminder() {
        if (loader.display == "none") {
            loader.display = "flex";
        }
        if (loader.display == "flex") {
            loader.display = "flex";
        }
        var dailytime = document.getElementById("dailyReport").value;
        var windWeeklyTime = document.getElementById("windWeeklyReport").value;
        var solarWeeklyTime = document.getElementById("solarWeeklyReport").value;
        var firstReminderTime = document.getElementById("firstReminder").value;
        var secondReminderTime = document.getElementById("secondReminder").value;
        var solarmonthlytime = document.getElementById("solarmonthlyreport").value;
        var windmonthlytime = document.getElementById("windmonthlyreport").value;

        if (firstReminderTime === "" && secondReminderTime === "") {
            alert("Please enter data...!");
            if (loader.display == "flex") {
                loader.display = "none";
            }
        } else {
            if (firstReminderTime !== "") {
                firstReminderTime = firstReminderTime;
            } else {
                firstReminderTime = temp6;
            }
            if (secondReminderTime !== "") {
                secondReminderTime = secondReminderTime;
            } else {
                secondReminderTime = temp7;
            }
            if (dailytime !== "") {
                dailytime = dailytime;
            } else {
                dailytime = temp1;
            }
            if (windWeeklyTime !== "") {
                windWeeklyTime = windWeeklyTime;
            } else {
                windWeeklyTime = temp2;
            }
            if (solarWeeklyTime !== "") {
                solarWeeklyTime = solarWeeklyTime;
            } else {
                solarWeeklyTime = temp3;
            }
            if (windWeekDay !== "") {
                windWeekDay = windWeekDay;
            } else {
                windWeekDay = temp4;
            }
            if (solarWeekDay !== "") {
                solarWeekDay = solarWeekDay;
            } else {
                solarWeekDay = temp5;
            }
            if (solarmonthlytime !== "") {
                solarmonthlytime = solarmonthlytime;
            } else {
                solarmonthlytime = temp8;
            }
            if (windmonthlytime !== "") {
                windmonthlytime = windmonthlytime;
            } else {
                windmonthlytime = temp9;
            }
            if (solarmonthdate !== "") {
                solarmonthdate = solarmonthdate;
            } else {
                solarmonthdate = temp10;
            }
            if (windmonthdate !== "") {
                windmonthdate = windmonthdate;
            } else {
                windmonthdate = temp11;
            }
            console.log("username : ", username, " role : ", role, " user_id : ", user_id);
            $.ajax({
                type: "POST",
                url: '@Url.Action("EmailReportTimeChangeSetting", "Home")' + '?dailytime=' + dailytime + '&windweeklytime=' + windWeeklyTime + '&solarweeklytime=' + solarWeeklyTime + '&windweekday=' + windWeekDay + '&solarweekday=' + solarWeekDay + '&firstReminderTime=' + firstReminderTime + '&secondReminderTime=' + secondReminderTime + '&solarmonthlytime=' + solarmonthlytime + '&windmonthlytime=' + windmonthlytime + '&solarmonthdate=' + solarmonthdate + '&windmonthdate=' + windmonthdate + "&username=" + username + "&user_id=" + user_id + "&role=" + role + "&email_logId=" + email_log_id,
                contentType: "application/json; charset=utf-8",
                datatype: "html",
                success: function (result, status, xhr) {
                    console.log("hello result of api "+result);
                    if (result == 1) {
                        loader.display = "none";
                        alert("Updated successfully!");
                        //location.href = "/Home/Dashbord";
                        GetEmailTime();
                        Cancel();
                    }
                }
            });
        }
    }

    function Cancel() {
        console.log("Inside cancel function.");
        var dt = document.getElementById("dailyReport");
        var wwt = document.getElementById("windWeeklyReport");
        var swt = document.getElementById("solarWeeklyReport");
        var wwd = document.getElementById("windweekday");
        var swd = document.getElementById("solarweekday");

        var smt = document.getElementById("solarmonthlyreport");
        var wmt = document.getElementById("windmonthlyreport");
        var smd = document.getElementById("solarmonthdate");
        var wmd = document.getElementById("windmonthdate");

        dt.value = "";
        wwt.value = "";
        swt.value = "";
        wwd.value = "";
        swd.value = "";
        smt.value = "";
        wmt.value = "";
        smd.value = "";
        wmd.value = "";
    }

    function CancelReminder() {
        console.log("Inside cancel function.");
        var fr = document.getElementById("firstReminder");
        var sr = document.getElementById("secondReminder");
        

        fr.value = "";
        sr.value = "";

    }

</script>
