@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Solar Monthly JMR";
}
@{
    string solarSiteList = "";

    var usermodel = JsonConvert.DeserializeObject<UserAccess>(@HttpContextAccessor.HttpContext.Session.GetString("UserAccess"));

}
@for (int i = 0; i < @usermodel.access_list.Count; i++)
{

    if (@usermodel.access_list[i].page_type == 3 && @usermodel.access_list[i].site_type == 2)
    {
        solarSiteList += @usermodel.access_list[i].identity.ToString() + ",";
    }
}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="~/Content/theme/plugins/fontawesome-free/css/all.min.css">
<!-- daterange picker -->
<link rel="stylesheet" href="~/Content/theme/plugins/daterangepicker/daterangepicker.css">
<!-- DataTables -->
<link rel="stylesheet" href="~/Content/theme/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/Content/theme/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/4.3.0/css/fixedColumns.dataTables.min.css" />
<link rel="stylesheet" href="~/Content/theme/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
<link rel="stylesheet" href="~/Content/theme/plugins/multiple-select/dist/multiple-select.min.css" />
<!--<link href="~/Content/theme/plugins/datatables/fixedHeader.dataTables.min.css" rel="stylesheet" />-->
<link href="~/Content/theme/dist/css/adminlte.css" rel="stylesheet" />
<!-- dropdown search -->
<link href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <section class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-center">Monthly JMR</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <!-- select -->
                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-3 col-form-label text-right">FY : </label>
                                <select class="form-control  col-sm-8" id="fy" name="fy[]" value="" multiple>
                                    <option value="">Select Financial Year</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <!-- select -->
                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-3 col-form-label text-right">Month : </label>
                                <select class="form-control  col-sm-8" id="month" name="month[]" value="" multiple>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-3 col-form-label text-right">Site : </label>
                                <select class="form-control  col-sm-8" id="site" name="site[]" multiple>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <!-- select -->
                        <button type="button" class="btn btn-block btn-primary" onclick="getReport()" style="width: 5rem;">Search</button>
                    </div>
                    <div class="col-md-1">

                    </div>

                </div>
                <hr>
                <div id="MontlyJMRView" style="overflow-x: auto;"></div>
                <div id="loader" class="loader  center" style="display:none"></div>
            </div>
        </div>

    </section>

</div>


@*Data Tables*@
<script src="~/Content/theme/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/theme/plugins/datatables/jquery.dataTables.js" defer></script>
<script src="~/Content/theme/plugins/datatables/dataTables.fixedHeader.min.js" defer></script>
<script src="https://cdn.datatables.net/fixedcolumns/4.3.0/js/dataTables.fixedColumns.min.js" defer></script>
<script src="~/Content/theme/plugins/datatables-buttons/js/dataTables.buttons.min.js" defer></script>
<script src="~/Content/theme/plugins/jszip/jszip.min.js" defer></script>
<script src="~/Content/theme/plugins/datatables-buttons/js/buttons.html5.min.js" defer></script>
<script src="~/Content/theme/plugins/datatables-buttons/js/buttons.colVis.min.js" defer></script>
<script src="~/Content/theme/plugins/jszip/jszip.min.js" defer></script>
<script src="~/Content/theme/plugins/pdfmake/pdfmake.min.js" defer></script>
<script src="~/Content/theme/plugins/datatables-buttons/js/buttons.colVis.min.js" defer></script>
<script src="~/Content/theme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/Content/theme/plugins/multiple-select/dist/multiple-select.min.js" defer></script>
<script src="~/Content/theme/plugins/moment/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js"></script>
<!--<script src="~/Content/theme/plugins/datatables/dataTables.fixedHeader.min.js" defer></script>-->
<script type="text/javascript">
    var userIdFromSession = "@Html.Raw(@HttpContextAccessor.HttpContext.Session.GetString("userid"))";
    var userRoles = "@Html.Raw(@HttpContextAccessor.HttpContext.Session.GetString("role"))";
    var isAdmin = 0;
    if (userRoles == "Admin") {
        isAdmin = 1;
    }

    var exceldata;
    window.onload = function () {
        console.log("User Id from session" + userIdFromSession);
        getPageColumns();
        getUserGroupColumns();

        var state = "";
        var spv = "";
   var options = "";
        options += '<option value = "January">January</option ><option value="February">February</option>';
        options += '<option value="March">March</option><option value="April">April</option><option value="May">May</option><option value="June">June</option>';
        options += '<option value="July">July</option><option value="August">August</option><option value="September">September</option>';
        options += '<option value="October">October</option><option value="November">November</option><option value="December">December</option>';
        $("#month").html(options);
        $('select#month').multipleSelect({
            "minimumCountSelected": 2,
            "placeholder": "Select Month(s)",
            filter:true
        });
        var site_ids = "@Html.Raw(solarSiteList.TrimEnd(','))";
        $.ajax({
            type: "POST",
            //url: "/WindReport/GetSiteList",
            url: '@Url.Action("GetSiteList", "SolarReport")' + '?sitelist=' + site_ids,
            contentType: "application/json; charset=utf-8",
            // data: '{"state":"' + val + '"}',
            datatype: "html",
            success: function (result, status, xhr) {
                var options = "";
                for (var k = 0; k < result.length; k++) {
                    options += '<option value="' + result[k].site_master_solar_id + '">' + result[k].site + '</option>';
                }
                $("#site").html(options);
                $('select#site').multipleSelect({
                    "minimumCountSelected": 2,
                    "placeholder": "Select Site(s)",
                    filter:true
                });
            }

        });
        $.ajax({
            type: "GET",
            //url: "/SolarReport/GetFinancialYear",
            url: '@Url.Action("GetFinancialYear", "SolarReport")',
            contentType: "application/json; charset=utf-8",
            //data: '{"countryname":"' + selcountry + '"}',
            datatype: "html",
            success: function (result, status, xhr) {
                var options = "";
                //options += '<option value="">Select Financial Year</option>';
                for (var i = 0; i < result.length; i++) {
                    options += '<option value="' + result[i].financial_year + '">' + result[i].financial_year + '</option>';
                }
                $("#fy").html(options);
                $('select#fy').multipleSelect({
                    "minimumCountSelected": 2,
                    "placeholder": "Select FY(s)",
                    filter:true
                });
            }
        });
    }

    function getPageColumns() {
        $.ajax({
        type: "GET",
       // url: "/WindReport/GetSiteMaster",
          url: '@Url.Action("GetPageColumns", "Home")' + '?page_id=18',
        contentType: "application/json; charset=utf-8",
        //data: '{"countryname":"' + selcountry + '"}',
        datatype: "html",
        success: function (result, status, xhr) {
            if (result.length > 0) {
                console.log(result);
                result.forEach(item => {
                    columnMap[item.column_name] = [item.column_id, item.required];
                });
                console.log(columnMap);
                console.log(columnMap["Country"], " : ", columnMap["Country"][0], "  :  ", columnMap["Country"][1]);
            }
            else {
            }
        }
    });
    }
    function getUserGroupColumns() {
        $.ajax({
        type: "GET",
            // url: "/WindReport/GetSiteMaster",
            url: '@Url.Action("GetUserGroupColumns", "Home")' + '?page_id=18&userId=' + userIdFromSession,
        contentType: "application/json; charset=utf-8",
        //data: '{"countryname":"' + selcountry + '"}',
        datatype: "html",
        success: function (result, status, xhr) {
            if (result.length > 0) {
                console.log(result);
                result.forEach(item => {
                    userColumnId.push(item.column_id);
                });
                console.log(userColumnId);
            }
            else {
            }
        }
    });
    }


    function exportToExcel() {

        console.log(exceldata)
        result = exceldata;

        var columns = [
            "FY", "JMR Month", "Site", "Plant Selection", "Controller kwh INV", "Scheduled Unit kwh", "Export kwh", "Import kwh", "Net Export kwh", "Export kVah", "Import kVah", "Export kVarh log", "Import kVarh log",
            "Export kVarh lead", "Import kVah lead", "Net Billable kWh","JMR Date", "Line Loss", "Line Loss(%)", " kVarh(%)"
        ];

        var rows = [];

        for (var i = 0; i < result.length; i++) {
            var row = [];
            var tempDate = new Date(result[i].jmR_date);
            var formattedDate = moment(result[i].jmR_date, 'YYYY/MM/DD').format('DD-MM-YYYY');
            // var formattedDate = [tempDate.getDate(), tempDate.getMonth() + 1, tempDate.getFullYear()].join('-');
            row.push(result[i].fy);
            row.push(result[i].jmR_Month);
            row.push(result[i].site);
            row.push(result[i].plant_Section);
            row.push(result[i].controller_KWH_INV);
            row.push(result[i].scheduled_Units_kWh);
            row.push(result[i].export_kWh);
            row.push(result[i].import_kWh);
            row.push(result[i].net_Export_kWh);
            row.push(result[i].export_kVAh);
            row.push(result[i].import_kVAh);
            row.push(result[i].export_kVArh_lag);
            row.push(result[i].import_kVArh_lag);
            row.push(result[i].export_kVArh_lead);
            row.push(result[i].import_kVArh_lead);
            row.push(result[i].net_Billable_kWh);
            row.push(formattedDate);
            //row.push(result[i].jmR_Year);
            row.push(result[i].lineLoss);
            row.push(result[i].line_Loss_percentage);
            row.push(result[i].rkvH_percentage);
            rows.push(row);
        }

        var data = [columns].concat(rows);

        var ws = XLSX.utils.aoa_to_sheet(data);
        var wb = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(wb, ws, "Solar Monthly JMR");
        var wbout = XLSX.write(wb, { bookType: 'xlsx', type: 'binary' });

        function s2ab(s) {
            var buf = new ArrayBuffer(s.length);
            var view = new Uint8Array(buf);
            for (var i = 0; i !== s.length; ++i) view[i] = s.charCodeAt(i) & 0xFF;
            return buf;
        }

        saveAs(new Blob([s2ab(wbout)], { type: "application/octet-stream" }), "Solar Monthly JMR.xlsx");

    }
    function getReport() {
        let site_id = "";
        var site = $('select#site option:selected').each(function () {
            site_id += $(this).val() + ",";
        });
        site_id = site_id != "" ? site_id.slice(0, -1) : site_id;
        if (site_id == "" || site_id == null) {
            alert("Please select site ");
            return false;
        }
        document.getElementById("loader").style.display = 'flex';
        console.log(site_id);
        let year = "";
        $('select#fy option:selected').each(function () {
            year += $(this).val() + ",";
            // console.log($(this).val());
        });
        year = year != "" ? year.slice(0, -1) : year;
        console.log(year);

        let month = "";
        $('select#month option:selected').each(function () {
            month += $(this).val() + ",";
            // console.log($(this).val());

        });
        month = month != "" ? month.slice(0, -1) : month;
        console.log(month);
        $.ajax({
            type: "GET",
            url: '@Url.Action("SolarMonthlyJMRView", "SolarView")' + '?year=' + year + '&month=' + month + '&site=' + site_id,
            //url: "/SolarView/SolarMonthlyJMRView?year=" + year + "&month=" + month,
            contentType: "application/json; charset=utf-8",
            //data: '{"countryname":"' + selcountry + '"}',
            datatype: "JSON",
            success: function (result, status, xhr) {
                console.log(result);
                var tbl = '<table id="example1" class="table table-bordered table-striped dataTable dtr-inline" style="width:180%">';
                tbl += '<thead  class="tbl-head"><tr>';
                if (userColumnId.includes(columnMap["FY"][0]) || columnMap["FY"][1] == 1 || isAdmin == 1) {
                    tbl += '<th style="width: 4%;">FY</th>';
                }
                if (userColumnId.includes(columnMap["JMR_Month"][0]) || columnMap["JMR_Month"][1] == 1 || isAdmin == 1) {
                    tbl += '<th>JMR Month</th>';
                }
                if (userColumnId.includes(columnMap["Site"][0]) || columnMap["Site"][1] == 1 || isAdmin == 1) {
                    tbl += '<th style="width: 6%;">Site</th>';
                }
                if (userColumnId.includes(columnMap["Controller"][0]) || columnMap["Controller"][1] == 1 || isAdmin == 1) {
                    tbl += '<th>Controller <br>(kWh/INV)</th>';
                }
                if (userColumnId.includes(columnMap["Scheduled_Units_Kwh"][0]) || columnMap["Scheduled_Units_Kwh"][1] == 1 || isAdmin == 1) {
                    tbl += '<th>Scheduled Units <br>(kWh)</th>';
                }
                if (userColumnId.includes(columnMap["Export_Kwh"][0]) || columnMap["Export_Kwh"][1] == 1 || isAdmin == 1) {
                    tbl += '<th>Export <br>(kWh)</th>';
                }
                if (userColumnId.includes(columnMap["Import_Kwh"][0]) || columnMap["Import_Kwh"][1] == 1 || isAdmin == 1) {
                    tbl += '<th>Import <br>(kWh)</th>';
                }
                if (userColumnId.includes(columnMap["Net_Export_Kwh"][0]) || columnMap["Net_Export_Kwh"][1] == 1 || isAdmin == 1) {
                    tbl += '<th>Net Export <br>(kWh)</th>';
                }
                if (userColumnId.includes(columnMap["Net_Billable_Kwh"][0]) || columnMap["Net_Billable_Kwh"][1] == 1 || isAdmin == 1) {
                    tbl += '<th>Net Billable <br>(kWh)</th>';
                }
                if (userColumnId.includes(columnMap["Export_Kvah"][0]) || columnMap["Export_Kvah"][1] == 1 || isAdmin == 1) {
                    tbl += '<th>Export <br>(kVAh)</th>';
                }
                if (userColumnId.includes(columnMap["Import_Kvah"][0]) || columnMap["Import_Kvah"][1] == 1 || isAdmin == 1) {
                    tbl += '<th>Import <br>(kVAh)</th>';
                }
                if (userColumnId.includes(columnMap["Export_Kvah_lag"][0]) || columnMap["Export_Kvah_lag"][1] == 1 || isAdmin == 1) {
                    tbl += '<th>Export <br>(kVArh lag)</th>';
                }
                if (userColumnId.includes(columnMap["Import_Kvah_lag"][0]) || columnMap["Import_Kvah_lag"][1] == 1 || isAdmin == 1) {
                    tbl += '<th>Import <br>(kVArh lag)</th>';
                }
                if (userColumnId.includes(columnMap["Export_Kvah_lead"][0]) || columnMap["Export_Kvah_lead"][1] == 1 || isAdmin == 1) {
                    tbl += '<th>Export <br>(kVArh lead)</th>';
                }
                if (userColumnId.includes(columnMap["Import_Kvah_lead"][0]) || columnMap["Import_Kvah_lead"][1] == 1 || isAdmin == 1) {
                    tbl += '<th>Import <br>(kVArh lead)</th>';
                }
                if (userColumnId.includes(columnMap["JMR_Date"][0]) || columnMap["JMR_Date"][1] == 1 || isAdmin == 1) {
                    tbl += '<th>JMR Date</th>';
                }
                if (userColumnId.includes(columnMap["Line_Loss"][0]) || columnMap["Line_Loss"][1] == 1 || isAdmin == 1) {
                    tbl += '<th>Line Loss</th>';
                }
                if (userColumnId.includes(columnMap["Lineloss_percentage"][0]) || columnMap["Lineloss_percentage"][1] == 1 || isAdmin == 1) {
                    tbl += '<th>Line Loss <br>(%)</th>';
                }
                if (userColumnId.includes(columnMap["Kvarh"][0]) || columnMap["Kvarh"][1] == 1 || isAdmin == 1) {
                    tbl += '<th>kVARh <br>(%)</th>';
                }
                if (userColumnId.includes(columnMap["Remarks"][0]) || columnMap["Remarks"][1] == 1 || isAdmin == 1) {
                    tbl += '<th>Remarks</th>';
                }
                tbl += '</tr></thead>';

                if (result.length > 0) {
                    exceldata = result;
                    for (var i = 0; i < result.length; i++) {
                        var tempDate = new Date(result[i].jmR_date);
                        var formattedDate = moment(result[i].jmR_date, 'YYYY/MM/DD').format('DD-MM-YYYY');
                       // var formattedDate = [tempDate.getDate(), tempDate.getMonth() + 1, tempDate.getFullYear()].join('-');
                        tbl += '<tr>';
                        if (userColumnId.includes(columnMap["FY"][0]) || columnMap["FY"][1] == 1 || isAdmin == 1) {
                            tbl += '<td class="text-left">' + result[i].fy + '</td>';
                        }
                        if (userColumnId.includes(columnMap["JMR_Month"][0]) || columnMap["JMR_Month"][1] == 1 || isAdmin == 1) {
                            tbl += '<td class="text-left">' + result[i].jmR_Month + '</td>';
                        }
                        if (userColumnId.includes(columnMap["Site"][0]) || columnMap["Site"][1] == 1 || isAdmin == 1) {
                            tbl += '<td class="text-left">' + result[i].site + '</td>';
                        }
                        if (userColumnId.includes(columnMap["Controller"][0]) || columnMap["Controller"][1] == 1 || isAdmin == 1) {
                            tbl += '<td class="text-right">' + result[i].controller_KWH_INV.toFixed(2) + '</td>';
                        }
                        if (userColumnId.includes(columnMap["Scheduled_Units_Kwh"][0]) || columnMap["Scheduled_Units_Kwh"][1] == 1 || isAdmin == 1) {
                            tbl += '<td class="text-right">' + result[i].scheduled_Units_kWh.toFixed(2) + '</td>';
                        }
                        if (userColumnId.includes(columnMap["Export_Kwh"][0]) || columnMap["Export_Kwh"][1] == 1 || isAdmin == 1) {
                            tbl += '<td class="text-right">' + result[i].export_kWh.toFixed(2) + '</td>';
                        }
                        if (userColumnId.includes(columnMap["Import_Kwh"][0]) || columnMap["Import_Kwh"][1] == 1 || isAdmin == 1) {
                            tbl += '<td class="text-right">' + result[i].import_kWh.toFixed(2) + '</td>';
                        }
                        if (userColumnId.includes(columnMap["Net_Export_Kwh"][0]) || columnMap["Net_Export_Kwh"][1] == 1 || isAdmin == 1) {
                            tbl += '<td class="text-right">' + result[i].net_Export_kWh.toFixed(2) + '</td>';
                        }
                        if (userColumnId.includes(columnMap["Net_Billable_Kwh"][0]) || columnMap["Net_Billable_Kwh"][1] == 1 || isAdmin == 1) {
                            tbl += '<td class="text-right">' + result[i].net_Billable_kWh.toFixed(2) + '</td>';
                        }
                        if (userColumnId.includes(columnMap["Export_Kvah"][0]) || columnMap["Export_Kvah"][1] == 1 || isAdmin == 1) {
                            tbl += '<td class="text-right">' + result[i].export_kVAh.toFixed(2) + '</td>';
                        }
                        if (userColumnId.includes(columnMap["Import_Kvah"][0]) || columnMap["Import_Kvah"][1] == 1 || isAdmin == 1) {
                            tbl += '<td  class="text-right">' + result[i].import_kVAh.toFixed(2) + '</td>';
                        }
                        if (userColumnId.includes(columnMap["Export_Kvah_lag"][0]) || columnMap["Export_Kvah_lag"][1] == 1 || isAdmin == 1) {
                            tbl += '<td  class="text-right">' + result[i].export_kVArh_lag.toFixed(2) + '</td>';
                        }
                        if (userColumnId.includes(columnMap["Import_Kvah_lag"][0]) || columnMap["Import_Kvah_lag"][1] == 1 || isAdmin == 1) {
                            tbl += '<td  class="text-right">' + result[i].import_kVArh_lag.toFixed(2) + '</td>';
                        }
                        if (userColumnId.includes(columnMap["Export_Kvah_lead"][0]) || columnMap["Export_Kvah_lead"][1] == 1 || isAdmin == 1) {
                            tbl += '<td  class="text-right">' + result[i].export_kVArh_lead.toFixed(2) + '</td>';
                        }
                        if (userColumnId.includes(columnMap["Import_Kvah_lead"][0]) || columnMap["Import_Kvah_lead"][1] == 1 || isAdmin == 1) {
                            tbl += '<td  class="text-right">' + result[i].import_kVArh_lead.toFixed(2) + '</td>';
                        }
                        if (userColumnId.includes(columnMap["JMR_Date"][0]) || columnMap["JMR_Date"][1] == 1 || isAdmin == 1) {
                            tbl += '<td class="text-left">' + formattedDate + '</td>';
                        }
                        if (userColumnId.includes(columnMap["Line_Loss"][0]) || columnMap["Line_Loss"][1] == 1 || isAdmin == 1) {
                            tbl += '<td  class="text-right">' + result[i].lineLoss.toFixed(2) + '</td>';
                        }
                        if (userColumnId.includes(columnMap["Lineloss_percentage"][0]) || columnMap["Lineloss_percentage"][1] == 1 || isAdmin == 1) {
                            tbl += '<td  class="text-right">' + result[i].line_Loss_percentage + '</td>';
                        }
                        if (userColumnId.includes(columnMap["Kvarh"][0]) || columnMap["Kvarh"][1] == 1 || isAdmin == 1) {
                            tbl += '<td  class="text-right">' + result[i].rkvH_percentage + '</td>';
                        }
                        if (userColumnId.includes(columnMap["Remarks"][0]) || columnMap["Remarks"][1] == 1 || isAdmin == 1) {
                            tbl += '<td  class="text-left">' + result[i].remarks + '</td>';
                        }
                        tbl += '</tr>';
                    }
                }
                else {

                    tbl += '<tr><th colspan="19" style="text-align:center">Data Not Available <th></tr>';
                }
                tbl += '</table>';
                $("#MontlyJMRView").html(tbl);
                $('#example1').DataTable({
                    dom: 'Bfrtip',
                    fixedHeader: true,
                    responsive: true,
                    scrollX: true,
                    lengthChange: false,
                    autoWidth: true,
                    paging: true,
                    lengthChange: false,
                    searching: true,
                    ordering: true,
                    info: true,
                    autoWidth: true,
                    fixedColumns: {
                        left: 4
                    },
                    pageLength: 50,
                    buttons: [
                        {
                            extend: 'excel',
                            title: 'Solar Monthly JMR',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'csv',
                            title: 'Solar Monthly JMR',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },

                        'colvis',
                        {
                            text: '<span class="fas fa-file-excel" title="Download from DB up to six decimal"></span>',
                            className: 'btn ml-1   ',
                            action: function () {
                                exportToExcel();
                            }
                        },
                    ],
                });
                $(".dt-buttons").addClass('btn-group flex-wrap');
                $(".dt-buttons > button").addClass('btn btn-secondary');
                $(".dataTables_filter> label >input").addClass('form-control form-control-sm');
                $(document).on("click", "div.dt-button-collection > div > button", function () {
                    if ($(this).hasClass("active")) {
                        $(this).css("background-color", "white");
                    } else {
                        $(this).css("background-color", "#31576d");
                    }
                });
                //$('#example1').wrap("<div class='scrolledTable'></div>");
                document.getElementById("loader").style.display = 'none';
                //$('#example1').removeClass('dataTable');
            }
        });
    }
</script>