@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@model DGRA_V1.Models.DailyGenSummary

@{
    ViewData["Title"] = "GHI POA 1Min";
}
@{
    string solarSiteList = "";

    var usermodel = JsonConvert.DeserializeObject<UserAccess>(@HttpContextAccessor.HttpContext.Session.GetString("UserAccess"));

}
@for (int i = 0; i < @usermodel.access_list.Count; i++)
{

    if (@usermodel.access_list[i].page_type == 3 && @usermodel.access_list[i].site_type == 2)
    {
        solarSiteList += @usermodel.access_list[i].identity.ToString() + ",";
    }


}
@{
    ViewData["Title"] = "Solar Location Master Reports";
}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="~/Content/theme/plugins/fontawesome-free/css/all.min.css">
<!-- daterange picker -->
<link rel="stylesheet" href="~/Content/theme/plugins/daterangepicker/daterangepicker.css">
<!-- DataTables -->
<link rel="stylesheet" href="~/Content/theme/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/Content/theme/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/4.3.0/css/fixedColumns.dataTables.min.css" />
<link rel="stylesheet" href="~/Content/theme/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
<link rel="stylesheet" href="~/Content/theme/plugins/multiple-select/dist/multiple-select.min.css" />
<link href="~/Content/theme/dist/css/adminlte.css" rel="stylesheet" />
<!-- dropdown search -->
<link href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>
<style>
    .tab-btn {
        font-size: 0.7rem;
        font-weight: bold;
    }
</style>
@*<style>
        .dataTables_scrollBody {
            margin-top: unset;
        }

        .scrolledTable > table > thead > tr {
            visibility: unset !important;
            height: unset !important;
        }
    </style>
*@
<div class="content-wrapper">

    <section class="content-header">
        <!--<div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Wind Location Master</li>
                    </ol>
                </div>
            </div>
        </div>-->
    </section>


    <section class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-center">Solar Location Master</h3>

                <!-- <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>-->
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-2 col-form-label text-left">Site : </label>
                                <select class="form-control  col-sm-8" id="site" name="site[]" multiple>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-block btn-primary" onclick="getLocationData()" style=" width: 5rem;">Search</button>
                    </div>
                    <div class="col-md-7"></div>
                </div>
                <div id="locationData" style="overflow-x: auto;" class="locationData"></div>
                <div id="loader" class="loader  center" style="display:none"></div>

            </div>
        </div>
    </section>
</div>
<script src="~/Content/theme/plugins/jquery/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="~/Content/theme/plugins/moment/moment.min.js"></script>
<script src="~/Content/theme/plugins/daterangepicker/daterangepicker.js" defer></script>
<script src="~/Content/theme/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="~/Content/theme/plugins/multiple-select/dist/multiple-select.min.js" defer></script>
<script src="~/Content/theme/plugins/summernote/summernote-bs4.min.js"></script>
<!--Datatable -->
<script src="~/Content/theme/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/theme/plugins/datatables/jquery.dataTables.js" defer></script>
<script src="~/Content/theme/plugins/datatables/dataTables.fixedHeader.min.js" defer></script>
<script src="https://cdn.datatables.net/fixedcolumns/4.3.0/js/dataTables.fixedColumns.min.js" defer></script>
<script src="~/Content/theme/plugins/datatables-buttons/js/dataTables.buttons.min.js" defer></script>
<script src="~/Content/theme/plugins/jszip/jszip.min.js" defer></script>
<script src="~/Content/theme/plugins/datatables-buttons/js/buttons.html5.min.js" defer></script>
<script src="~/Content/theme/plugins/datatables-buttons/js/buttons.colVis.min.js" defer></script>
<script src="~/Content/theme/plugins/jszip/jszip.min.js" defer></script>
<script src="~/Content/theme/plugins/pdfmake/pdfmake.min.js" defer></script>
<script src="~/Content/theme/plugins/datatables-buttons/js/buttons.colVis.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js"></script>
<!--<script src="~/Content/theme/plugins/datatables/dataTables.fixedHeader.min.js" defer></script>-->
<script type="text/javascript">
    var userIdFromSession = "@Html.Raw(@HttpContextAccessor.HttpContext.Session.GetString("userid"))";
    var userRoles = "@Html.Raw(@HttpContextAccessor.HttpContext.Session.GetString("role"))";
    var isAdmin = 0;
    if (userRoles == "Admin") {
        isAdmin = 1;
    }
    var fixedColumnsLeft = (isAdmin === 1) ? 9 : 3;
    const columnMap = {};
    const userColumnId = [];
    var exceldata;
    window.onload = function () {
        getPageColumns();
        getUserGroupColumns();
        var state = "";
        var spv = "";
        var site_ids = "@Html.Raw(solarSiteList.TrimEnd(','))";
        $.ajax({
            type: "POST",
            //url: "/WindReport/GetSiteList",
            url: '@Url.Action("GetSiteList", "SolarReport")' + '?sitelist=' + site_ids,
            contentType: "application/json; charset=utf-8",
            // data: '{"state":"' + val + '"}',
            datatype: "html",
            success: function (result, status, xhr) {
                var options = "";
                for (var k = 0; k < result.length; k++) {
                    options += '<option value="' + result[k].site_master_solar_id + '">' + result[k].site + '</option>';
                }
                $("#site").html(options);
                $('select#site').multipleSelect({
                    "minimumCountSelected": 2,
                    "placeholder": "Select Site(s)",
                    filter:true
                });
            }

        });
       // getLocationData();
    }

    function getPageColumns() {
        $.ajax({
        type: "GET",
       // url: "/WindReport/GetSiteMaster",
          url: '@Url.Action("GetPageColumns", "Home")' + '?page_id=23',
        contentType: "application/json; charset=utf-8",
        //data: '{"countryname":"' + selcountry + '"}',
        datatype: "html",
        success: function (result, status, xhr) {
            if (result.length > 0) {
                console.log(result);
                result.forEach(item => {
                    columnMap[item.column_name] = [item.column_id, item.required];
                });
                console.log(columnMap);
                //console.log(columnMap["Country"], " : ", columnMap["Country"][0], "  :  ", columnMap["Country"][1]);
            }
            else {
            }
        }
    });
    }
    function getUserGroupColumns() {
        $.ajax({
        type: "GET",
            // url: "/WindReport/GetSiteMaster",
            url: '@Url.Action("GetUserGroupColumns", "Home")' + '?page_id=23&userId=' + userIdFromSession,
        contentType: "application/json; charset=utf-8",
        //data: '{"countryname":"' + selcountry + '"}',
        datatype: "html",
        success: function (result, status, xhr) {
            if (result.length > 0) {
                console.log(result);
                result.forEach(item => {
                    userColumnId.push(item.column_id);
                });
                console.log(userColumnId);
            }
            else {
            }
        }
    });
    }

    function exportToExcel() {

        result = exceldata;
        var columns = [
            "Country", "Site", "EG", "IG", "ICR/INV", "ICR", "INV", "SMB", "String", "Str_Conf.", "otal_Str_Cur.", "Total_Str_vol", "Modules", "Wp", "Capacity", "Module_Make", "Module_Mod_No", "Module_Type", "String/Central_Inv"
        ];

        var rows = [];
        for (var i = 0; i < result.length; i++) {
            var row = [];
            let inverterStatus = "";
            if (result[i].string_inv_central_inv == 1) {
                inverterStatus = "String Inverter";
            }
            if (result[i].string_inv_central_inv == 2) {
                inverterStatus = "Central Inverter";
            }
            row.push(result[i].country);
             row.push(result[i].site);
            row.push(result[i].eg);
            row.push(result[i].ig);
            row.push(result[i].icr_inv);
            row.push(result[i].icr);
            row.push(result[i].inv);
            row.push(result[i].smb);
            row.push(result[i].strings);
            row.push(result[i].string_configuration);
            row.push(result[i].total_string_current);
            row.push(result[i].total_string_voltage);
            row.push(result[i].modules_quantity);
            row.push(result[i].wp);
            row.push(result[i].capacity);
            row.push(result[i].module_make);
            row.push(result[i].module_model_no);
            row.push(result[i].module_type);
            row.push(inverterStatus);
            rows.push(row);
        }

        var data = [columns].concat(rows);

        var ws = XLSX.utils.aoa_to_sheet(data);
        var wb = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(wb, ws, "Wind Site Location Master");
        var wbout = XLSX.write(wb, { bookType: 'xlsx', type: 'binary' });

        function s2ab(s) {
            var buf = new ArrayBuffer(s.length);
            var view = new Uint8Array(buf);
            for (var i = 0; i !== s.length; ++i) view[i] = s.charCodeAt(i) & 0xFF;
            return buf;
        }

        saveAs(new Blob([s2ab(wbout)], { type: "application/octet-stream" }), "Solar Location Master Report.xlsx");

    }
    function getLocationData() {
        let site_id = "";
        var site = $('select#site option:selected').each(function () {
            site_id += $(this).val() + ",";
        });
        site_id = site_id != "" ? site_id.slice(0, -1) : site_id;
        if (site_id == "" || site_id == null) {
            alert("Please select site ");
            return false;
        }
        document.getElementById("loader").style.display = 'flex';
        $.ajax({
            type: "GET",

             url: '@Url.Action("GetLocationMaster", "SolarReport")' + '?site='+ site_id,
            contentType: "application/json; charset=utf-8",
            //data: '{"countryname":"' + selcountry + '"}',
            datatype: "html",
            success: function (result, status, xhr) {
                console.log(result);
                @*var tbl = '<table id="example1" class="table table-bordered table-striped" style="width: 140%;">';
                tbl += '<thead class="tbl-head"><tr>';
                tbl += '<th>Country</td>';
                tbl += '<th>Site</td>';
                tbl += '<th>EG</td>';
                tbl += '<th>IG</td>';
                tbl += '<th>ICR/INV</td>';
                tbl += '<th>ICR</td>';
                tbl += '<th>INV</td>';
                tbl += '<th>SMB</td>';
                tbl += '<th>String</td>';
                tbl += '<th>Str_Conf.</td>';
                tbl += '<th>Total_Str_Cur.<br>(amp)</td>';
                tbl += '<th>Total_Str_vol.</td>';
                tbl += '<th>Modules</td>';
                tbl += '<th>Wp</td>';
                tbl += '<th>Capacity<br>(kWp)</td>';
                tbl += '<th>Module_Make</td>';
                tbl += '<th>Module_Mod_No.</td>';
                tbl += '<th>Module_Type</td>';
                tbl += '<th>String/Central_Inv</td>';
                tbl += '</tr></thead>';*@

                var tbl = '<table id="example1" class="table table-bordered table-striped" style="width:180%">';
                tbl += '<thead class="tbl-head"><tr>';
                if (userColumnId.length > 0) {
                    if (userColumnId.includes(columnMap["Country"][0]) || columnMap["Country"][1] == 1 || isAdmin == 1) {
                        tbl += '<th style="width: 5%;">Country</th>';
                    }
                    if (userColumnId.includes(columnMap["Site"][0]) || columnMap["Site"][1] == 1 || isAdmin == 1) {
                        tbl += '<th>Site</th>';
                    }
                    if (userColumnId.includes(columnMap["EG"][0]) || columnMap["EG"][1] == 1 || isAdmin == 1) {
                        tbl += '<th style="width: 6%;">EG</th>';
                    }
                    if (userColumnId.includes(columnMap["IG"][0]) || columnMap["IG"][1] == 1 || isAdmin == 1) {
                        tbl += '<th>IG</th>';
                    }
                    if (userColumnId.includes(columnMap["ICR/INV"][0]) || columnMap["ICR/INV"][1] == 1 || isAdmin == 1) {
                        tbl += '<th>ICR/INV</th>';
                    }
                    if (userColumnId.includes(columnMap["ICR"][0]) || columnMap["ICR"][1] == 1 || isAdmin == 1) {
                        tbl += '<th>ICR</th>';
                    }
                    if (userColumnId.includes(columnMap["INV"][0]) || columnMap["INV"][1] == 1 || isAdmin == 1) {
                        tbl += '<th>INV</th>';
                    }
                    if (userColumnId.includes(columnMap["SMB"][0]) || columnMap["SMB"][1] == 1 || isAdmin == 1) {
                        tbl += '<th>SMB</th>';
                    }
                    if (userColumnId.includes(columnMap["String"][0]) || columnMap["String"][1] == 1 || isAdmin == 1) {
                        tbl += '<th>String</th>';
                    }
                    if (userColumnId.includes(columnMap["Str_Conf"][0]) || columnMap["Str_Conf"][1] == 1 || isAdmin == 1) {
                        tbl += '<th>String Configuration</th>';
                    }
                    if (userColumnId.includes(columnMap["Total_Str_Cur"][0]) || columnMap["Total_Str_Cur"][1] == 1 || isAdmin == 1) {
                        tbl += '<th>Total_Str_Cur.<br>(amp)</th>';
                    }
                    if (userColumnId.includes(columnMap["Total_Str_vol"][0]) || columnMap["Total_Str_vol"][1] == 1 || isAdmin == 1) {
                        tbl += '<th>Total_Str_vol.</th>';
                    }
                    if (userColumnId.includes(columnMap["Modules"][0]) || columnMap["Modules"][1] == 1 || isAdmin == 1) {
                        tbl += '<th>Modules</th>';
                    }
                    if (userColumnId.includes(columnMap["Wp"][0]) || columnMap["Wp"][1] == 1 || isAdmin == 1) {
                        tbl += '<th>Wp</th>';
                    }
                    if (userColumnId.includes(columnMap["Capacity"][0]) || columnMap["Capacity"][1] == 1 || isAdmin == 1) {
                        tbl += '<th>Capacity<br>(kWp)</th>';
                    }
                    if (userColumnId.includes(columnMap["Module_make"][0]) || columnMap["Module_make"][1] == 1 || isAdmin == 1) {
                        tbl += '<th>Module Make</th>';
                    }
                    if (userColumnId.includes(columnMap["Module_Mod_No"][0]) || columnMap["Module_Mod_No"][1] == 1 || isAdmin == 1) {
                        tbl += '<th>Module_Mod_No.</th>';
                    }
                    if (userColumnId.includes(columnMap["Module_Type"][0]) || columnMap["Module_Type"][1] == 1 || isAdmin == 1) {
                        tbl += '<th>Module_Type</th>';
                    }
                    if (userColumnId.includes(columnMap["String/Central_Inv"][0]) || columnMap["String/Central_Inv"][1] == 1 || isAdmin == 1) {
                        tbl += '<th>String/Central_Inv</th>';
                    }
                }
                else
                {
                    tbl += '<th style="width: 5%;">Country</th>';
                    tbl += '<th>Site</th>';
                    tbl += '<th style="width: 6%;">EG</th>';
                    tbl += '<th>IG</th>';
                    tbl += '<th>ICR/INV</th>';
                    tbl += '<th>ICR</th>';
                    tbl += '<th>INV</th>';
                    tbl += '<th>SMB</th>';
                    tbl += '<th>String</th>';
                    tbl += '<th>String Configuration</th>';
                    tbl += '<th>Total_Str_Cur.<br>(amp)</th>';
                    tbl += '<th>Total_Str_vol.</th>';
                    tbl += '<th>Modules</th>';
                    tbl += '<th>Wp</th>';
                    tbl += '<th>Capacity<br>(kWp)</th>';
                    tbl += '<th>Module Make</th>';
                    tbl += '<th>Module_Mod_No.</th>';
                    tbl += '<th>Module_Type</th>';
                    tbl += '<th>String/Central_Inv</th>';
                }
                

                tbl += '</tr></thead>';

                if (result.length > 0) {
                    exceldata = result;
                    for (var i = 0; i < result.length; i++) {
                        let inverterStatus = "";
                        if (result[i].string_inv_central_inv == 1) {
                            inverterStatus = "String Inverter";
                        }
                        if (result[i].string_inv_central_inv == 2) {
                            inverterStatus = "Central Inverter";
                        }
                        @*tbl += '<tr>';
                        tbl += '<td class="text-left">' + result[i].country + '</td>';
                        tbl += '<td class="text-left"  style="text-wrap: nowrap;">' + result[i].site + '</td>';
                        tbl += '<td class="text-left"  style="text-wrap: nowrap;">' + result[i].eg + '</td>';
                        tbl += '<td class="text-left"  style="text-wrap: nowrap;">' + result[i].ig + '</td>';
                        tbl += '<td class="text-left"  style="text-wrap: nowrap;">' + result[i].icr_inv+ '</td>';
                        tbl += '<td class="text-left  style="text-wrap: nowrap;">' + result[i].icr+ '</td>';
                        tbl += '<td class="text-left"  style="text-wrap: nowrap;">' + result[i].inv + '</td>';
                        tbl += '<td class="text-left"  style="text-wrap: nowrap;">' + result[i].smb + '</td>';
                        tbl += '<td class="text-left">' + result[i].strings + '</td>';
                        tbl += '<td class="text-left"  style="text-wrap: nowrap;">' + result[i].string_configuration + '</td>';
                        tbl += '<td class="text-right">' + result[i].total_string_current.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].total_string_voltage.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].modules_quantity + '</td>';
                        tbl += '<td class="text-right">' + result[i].wp.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].capacity.toFixed(2) + '</td>';
                        tbl += '<td  class="text-left"  style="text-wrap: nowrap;">' + result[i].module_make + '</td>';
                        tbl += '<td  class="text-left"  style="text-wrap: nowrap;">' + result[i].module_model_no + '</td>';
                        tbl += '<td  class="text-left"  style="text-wrap: nowrap;">' + result[i].module_type + '</td>';
                        tbl += '<td  class="text-left"  style="text-wrap: nowrap;">' + inverterStatus+ '</td>';
                        tbl += '</tr>';*@


                        tbl += '<tr>';
                        if (userColumnId.length > 0) {
                            if (userColumnId.includes(columnMap["Country"][0]) || columnMap["Country"][1] == 1 || isAdmin == 1) {
                                tbl += '<td class="text-left">' + result[i].country + '</td>';
                            }
                            if (userColumnId.includes(columnMap["Site"][0]) || columnMap["Site"][1] == 1 || isAdmin == 1) {
                                tbl += '<td class="text-left" style="text-wrap: nowrap;">' + result[i].site + '</td>';
                            }
                            if (userColumnId.includes(columnMap["EG"][0]) || columnMap["EG"][1] == 1 || isAdmin == 1) {
                                tbl += '<td class="text-left" style="text-wrap: nowrap;">' + result[i].eg + '</td>';
                            }
                            if (userColumnId.includes(columnMap["IG"][0]) || columnMap["IG"][1] == 1 || isAdmin == 1) {
                                tbl += '<td class="text-right">' + result[i].ig + '</td>';
                            }
                            if (userColumnId.includes(columnMap["ICR/INV"][0]) || columnMap["ICR/INV"][1] == 1 || isAdmin == 1) {
                                tbl += '<td class="text-right">' + result[i].icr_inv + '</td>';
                            }
                            if (userColumnId.includes(columnMap["ICR"][0]) || columnMap["ICR"][1] == 1 || isAdmin == 1) {
                                tbl += '<td class="text-right">' + result[i].icr + '</td>';
                            }
                            if (userColumnId.includes(columnMap["INV"][0]) || columnMap["INV"][1] == 1 || isAdmin == 1) {
                                tbl += '<td class="text-right">' + result[i].inv + '</td>';
                            }
                            if (userColumnId.includes(columnMap["SMB"][0]) || columnMap["SMB"][1] == 1 || isAdmin == 1) {
                                tbl += '<td class="text-right">' + result[i].smb + '</td>';
                            }
                            if (userColumnId.includes(columnMap["String"][0]) || columnMap["String"][1] == 1 || isAdmin == 1) {
                                tbl += '<td class="text-right">' + result[i].strings + '</td>';
                            }
                            if (userColumnId.includes(columnMap["Str_Conf"][0]) || columnMap["Str_Conf"][1] == 1 || isAdmin == 1) {
                                tbl += '<td class="text-right">' + result[i].string_configuration + '</td>';
                            }
                            if (userColumnId.includes(columnMap["Total_Str_Cur"][0]) || columnMap["Total_Str_Cur"][1] == 1 || isAdmin == 1) {
                                tbl += '<td class="text-right">' + result[i].total_string_current.toFixed(2) + '</td>';
                            }
                            if (userColumnId.includes(columnMap["Total_Str_vol"][0]) || columnMap["Total_Str_vol"][1] == 1 || isAdmin == 1) {
                                tbl += '<td class="text-right">' + result[i].total_string_voltage.toFixed(2) + '</td>';
                            }
                            if (userColumnId.includes(columnMap["Modules"][0]) || columnMap["Modules"][1] == 1 || isAdmin == 1) {
                                tbl += '<td class="text-right">' + result[i].modules_quantity + '</td>';
                            }
                            if (userColumnId.includes(columnMap["Wp"][0]) || columnMap["Wp"][1] == 1 || isAdmin == 1) {
                                tbl += '<td class="text-right">' + result[i].wp.toFixed(2) + '</td>';
                            }
                            if (userColumnId.includes(columnMap["Capacity"][0]) || columnMap["Capacity"][1] == 1 || isAdmin == 1) {
                                tbl += '<td class="text-right">' + result[i].capacity.toFixed(2) + '</td>';
                            }
                            if (userColumnId.includes(columnMap["Module_make"][0]) || columnMap["Module_make"][1] == 1 || isAdmin == 1) {
                                tbl += '<td class="text-right">' + result[i].module_make + '</td>';
                            }
                            if (userColumnId.includes(columnMap["Module_Mod_No"][0]) || columnMap["Module_Mod_No"][1] == 1 || isAdmin == 1) {
                                tbl += '<td class="text-right">' + result[i].module_model_no + '</td>';
                            }
                            if (userColumnId.includes(columnMap["Module_Type"][0]) || columnMap["Module_Type"][1] == 1 || isAdmin == 1) {
                                tbl += '<td class="text-right">' + result[i].module_type + '</td>';
                            }
                            if (userColumnId.includes(columnMap["String/Central_Inv"][0]) || columnMap["String/Central_Inv"][1] == 1 || isAdmin == 1) {
                                tbl += '<td class="text-left">' + inverterStatus + '</td>';
                            }
                        }
                        else
                        {
                            tbl += '<td class="text-left">' + result[i].country + '</td>';
                            tbl += '<td class="text-left" style="text-wrap: nowrap;">' + result[i].site + '</td>';
                            tbl += '<td class="text-left" style="text-wrap: nowrap;">' + result[i].eg + '</td>';
                            tbl += '<td class="text-right">' + result[i].ig + '</td>';
                            tbl += '<td class="text-right">' + result[i].icr_inv + '</td>';
                            tbl += '<td class="text-right">' + result[i].icr + '</td>';
                            tbl += '<td class="text-right">' + result[i].inv + '</td>';
                            tbl += '<td class="text-right">' + result[i].smb + '</td>';
                            tbl += '<td class="text-right">' + result[i].strings + '</td>';
                            tbl += '<td class="text-right">' + result[i].string_configuration + '</td>';
                            tbl += '<td class="text-right">' + result[i].total_string_current.toFixed(2) + '</td>';
                            tbl += '<td class="text-right">' + result[i].total_string_voltage.toFixed(2) + '</td>';
                            tbl += '<td class="text-right">' + result[i].modules_quantity + '</td>';
                            tbl += '<td class="text-right">' + result[i].wp.toFixed(2) + '</td>';
                            tbl += '<td class="text-right">' + result[i].capacity.toFixed(2) + '</td>';
                            tbl += '<td class="text-right">' + result[i].module_make + '</td>';
                            tbl += '<td class="text-right">' + result[i].module_model_no + '</td>';
                            tbl += '<td class="text-right">' + result[i].module_type + '</td>';
                            tbl += '<td class="text-left">' + inverterStatus + '</td>';
                        }
                        tbl += '</tr>';
                    }
                }
                else {

                    // tbl += '<tr><th colspan="19" style="text-align:center">Data Not Available <th></tr>';
                }
                tbl += '</table>';
                $("#locationData").html(tbl);
                //$.fn.DataTable.ext.pager.numbers_length = 6;
                $('#example1').DataTable({
                    dom: 'Bfrtip',
                    fixedHeader: true,
                    responsive: true,
                    scrollX: true,
                    lengthChange: false,
                    autoWidth: true,
                    paging: true,
                    lengthChange: false,
                    searching: true,
                    ordering: true,
                    info: true,
                    autoWidth: true,
                    fixedColumns: {
                        left: fixedColumnsLeft
                    },
                    pageLength: 50,
                    buttons: [
                        {
                            extend: 'excel',
                            title: 'Solar Location Master Report',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'csv',
                            title: 'Solar Location Master Report',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },

                        'colvis',
                        {
                            text: '<span class="fas fa-file-excel" title="Download from DB up to six decimal"></span>',
                            className: 'btn ml-1   ',

                            action: function () {
                                exportToExcel();
                            }
                        },
                    ],
                });
                $(".dt-buttons").addClass('btn-group flex-wrap');
                $(".dt-buttons > button").addClass('btn btn-secondary');
                $(".dataTables_filter> label >input").addClass('form-control form-control-sm');
                $(document).on("click", "div.dt-button-collection > div > button", function () {
                    if ($(this).hasClass("active")) {
                        $(this).css("background-color", "white");
                    } else {
                        $(this).css("background-color", "#31576d");
                    }
                });
                //$('#example1').wrap("<div class='scrolledTable'></div>");
                document.getElementById("loader").style.display = 'none';
               // $('#example1').removeClass('dataTable');

            }
        });
    }
</script>
