@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@model DGRA_V1.Models.DailyGenSummary

@{
    ViewData["Title"] = "Solar Gen Summary";
}
@{
    string solarSiteList = "";

    var usermodel = JsonConvert.DeserializeObject<UserAccess>(@HttpContextAccessor.HttpContext.Session.GetString("UserAccess"));

}
@for (int i = 0; i < @usermodel.access_list.Count; i++)
{

    if (@usermodel.access_list[i].page_type == 3 && @usermodel.access_list[i].site_type == 2)
    {
        solarSiteList += @usermodel.access_list[i].identity.ToString() + ",";
    }


}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="~/Content/theme/plugins/fontawesome-free/css/all.min.css">
<!-- daterange picker -->
<link rel="stylesheet" href="~/Content/theme/plugins/daterangepicker/daterangepicker.css">
<!-- DataTables -->
<link rel="stylesheet" href="~/Content/theme/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/Content/theme/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/4.3.0/css/fixedColumns.dataTables.min.css" />
<link rel="stylesheet" href="~/Content/theme/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
<link rel="stylesheet" href="~/Content/theme/plugins/multiple-select/dist/multiple-select.min.css" />
<link href="~/Content/theme/dist/css/adminlte.css" rel="stylesheet" />
<!-- dropdown search -->
<link href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>
@*<style>
        .tbodydata {
            font-size: 12px;
        }

        .theaddata {
            font-size: 12px;
            font-weight: bold;
        }
    </style>*@

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <section class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-center">Solar Tracker Loss</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="input-group row">
                            <label class="col-sm-3.1 col-form-label">Date Range :&nbsp;&nbsp;</label>
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="far fa-calendar-alt"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control float-right col-sm-6" id="daterange" name="daterange">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-2 col-form-label text-left">Site : </label>
                                <select class="form-control  col-sm-8" id="site" name="site[]" multiple>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-block btn-primary" onclick="getReport()" style="margin-left:-2rem; width: 5rem;">Search</button>
                    </div>
                    <div class="col-md-1"></div>

                    <div class="col-md-1"></div>
                </div>

                <hr>
                <div id="DailyGenView" style="overflow-x: auto;" class="DailyGenView"></div>
                <div id="loader" class="loader  center" style="display:none"></div>
            </div>
        </div>
    </section>

</div>
<!-- /.content-wrapper -->
<script src="~/Content/theme/plugins/jquery/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<!--Date Range -->
<script src="~/Content/theme/plugins/moment/moment.min.js"></script>
<script src="~/Content/theme/plugins/multiple-select/dist/multiple-select.min.js" defer></script>
<script src="~/Content/theme/plugins/inputmask/jquery.inputmask.min.js"></script>
<script src="~/Content/theme/plugins/daterangepicker/daterangepicker.js" defer></script>
<script src="~/Content/theme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>


<!-- DataTables  & Plugins -->
<script src="~/Content/theme/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/theme/plugins/datatables/jquery.dataTables.js" defer></script>
<script src="~/Content/theme/plugins/datatables/dataTables.fixedHeader.min.js" defer></script>
<script src="https://cdn.datatables.net/fixedcolumns/4.3.0/js/dataTables.fixedColumns.min.js" defer></script>
<script src="~/Content/theme/plugins/datatables-buttons/js/dataTables.buttons.min.js" defer></script>
<script src="~/Content/theme/plugins/jszip/jszip.min.js" defer></script>
<script src="~/Content/theme/plugins/datatables-buttons/js/buttons.html5.min.js" defer></script>
<script src="~/Content/theme/plugins/datatables-buttons/js/buttons.colVis.min.js" defer></script>
<script src="~/Content/theme/plugins/jszip/jszip.min.js" defer></script>
<script src="~/Content/theme/plugins/pdfmake/pdfmake.min.js" defer></script>
<script src="~/Content/theme/plugins/datatables-buttons/js/buttons.colVis.min.js" defer></script>
<script src="~/Content/theme/dist/js/comman.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js"></script>
@*------------------------------------------------------------------------------------------------------------------------------------------------*@
<script type="text/javascript">
    var exceldata;
    $(document).ready(function () {
        $('#daterange').daterangepicker(
            {
                maxDate: new Date(),
                locale: {
                    format: 'DD/MM/YYYY',
                }
            });

        $("#hide").click(function () {
            $("#chart").hide();
            $("#show").css('display', 'block');
        });
        $("#show").click(function () {
            $("chart").show();
            $("#hide").css('display', 'none');
        });

    });


    window.onload = function () {
        var state = "";
        var spv = "";
        var site_ids = "@Html.Raw(solarSiteList.TrimEnd(','))";
        $.ajax({
            type: "POST",
            //url: "/WindReport/GetSiteList",
            url: '@Url.Action("GetSiteList", "SolarReport")' + '?sitelist=' + site_ids,
            contentType: "application/json; charset=utf-8",
            // data: '{"state":"' + val + '"}',
            datatype: "html",
            success: function (result, status, xhr) {
                var options = "";
                for (var k = 0; k < result.length; k++) {
                    options += '<option value="' + result[k].site_master_solar_id + '">' + result[k].site + '</option>';
                }
                $("#site").html(options);
                $('select#site').multipleSelect({
                    "minimumCountSelected": 2,
                    "placeholder": "Select Site(s)",
                    filter:true
                });
            }

        });
    }

    function exportToExcel() {

        result = exceldata;
        var columns = [
            "Date", "Site", "From Time", "To Time", "AC Capacity (MW)", "Nos. of Trackers in BD. (Nos)", "Nos. of Module &#64; Tracker (Nos)", "Module (Wp)", "BD. Tracker Capacity (kW)"
            , "Actual POA", "Actual GHI", "AOP PR (%) ", "Gen Losses (kWh)", "Remarks"
        ];

        var rows = [];
        for (var i = 0; i < result.length; i++) {
            var row = [];
            var formattedDate = moment(result[i].date, 'YYYY/MM/DD').format('DD-MM-YYYY');
            var month = moment(result[i].date, 'YYYY-MM-DD').format('MMM-YY');
            var start_time = toHoursAndMinutes(result[i].from_time.totalSeconds);
            var stop_time = toHoursAndMinutes(result[i].to_time.totalSeconds);

            row.push(formattedDate);
            row.push(result[i].site);
            row.push( start_time);
            row.push(stop_time);
            row.push(result[i].ac_capacity);
            row.push(result[i].trackers_in_BD);
            row.push(result[i].module_tracker);
            row.push(result[i].module_WP);
            row.push(result[i].breakdown_tra_capacity);
            row.push(result[i].actual_poa);
            row.push(result[i].actual_ghi);
            row.push(result[i].target_aop_pr);
            row.push(result[i].tracker_loss);
            row.push(result[i].remark);
            rows.push(row);
        }

        var data = [columns].concat(rows);

        var ws = XLSX.utils.aoa_to_sheet(data);
        var wb = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(wb, ws, "Solar Tracker Loss");
        var wbout = XLSX.write(wb, { bookType: 'xlsx', type: 'binary' });

        function s2ab(s) {
            var buf = new ArrayBuffer(s.length);
            var view = new Uint8Array(buf);
            for (var i = 0; i !== s.length; ++i) view[i] = s.charCodeAt(i) & 0xFF;
            return buf;
        }

        saveAs(new Blob([s2ab(wbout)], { type: "application/octet-stream" }), "Solar Tracker Loss.xlsx");

    }
    function getReport() {

        let site_id = "";
        var site = $('select#site option:selected').each(function () {
            site_id += $(this).val() + ",";
        });
        site_id = site_id != "" ? site_id.slice(0, -1) : site_id;
        if (site_id == "" || site_id == null) {
            alert("Please select site ");
            return false;
        }
        document.getElementById("loader").style.display = 'flex';
        console.log(site_id);
        var daterange = $('#daterange').val();
        var arr1 = new Array();
        arr1 = daterange.split("-");
        var fromDate = moment(arr1[0], 'DD/MM/YYYY').format('YYYY-MM-DD');
        var toDate = moment(arr1[1], 'DD/MM/YYYY').format('YYYY-MM-DD');

        $.ajax({
            type: "GET",
            url: '@Url.Action("SolarTrackerLoss", "SolarReport")' + '?site='+ site_id + '&fromDate=' + fromDate + '&toDate=' + toDate,
            contentType: "application/json; charset=utf-8",
            datatype: "JSON",

            success: function (result, status, xhr) {
                console.log(document.getElementById("loader"));
                document.getElementById("loader").style.display = 'none';

                var tbl = '<table id="example1" class="table table-bordered table-striped" style="width: 120%;">';
                tbl += '<thead class="tbl-head"><tr>';
                tbl += '<th style="width: 7%;">Date</th>';
                tbl += '<th  style="width: 7%;">Site</th>';
                tbl += '<th>From Time</th>';
                tbl += '<th>To Time</th>';
                tbl += '<th>AC Capacity (MW)</th>';
                tbl += '<th>Nos. of Trackers in BD. (Nos)</th>';
                tbl += '<th>Nos. of Module &#64; Tracker (Nos) </th>';
                tbl += '<th>Module (Wp)</th>';
                tbl += '<th>BD. Tracker Capacity (kW)</th>';
                tbl += '<th>Actual POA (kWh/m<sup class="superscript">2</sup>)</th>';
                tbl += '<th>Actual GHI (kWh/m<sup class="superscript">2</sup>)</th>';
                tbl += '<th>AOP PR (%)</th>';
                tbl += '<th>Gen Losses (kWh)</th>';
                tbl += '<th>Remarks </th>';
                tbl += '</tr></thead>';

                if (result.length > 0) {
                    exceldata = result;
                   for (var i = 0; i < result.length; i++) {
                       var formattedDate = moment(result[i].date, 'YYYY-MM-DD').format('DD-MM-YYYY');
                       var month = moment(result[i].date, 'YYYY-MM-DD').format('MMM-YY');
                       var start_time = toHoursAndMinutes(result[i].from_time.totalSeconds);
                       var stop_time = toHoursAndMinutes(result[i].to_time.totalSeconds);
                        tbl += '<tr>';

                       tbl += '<td  class="text-right">' + formattedDate + '</td>';
                        tbl += '<td  class="text-center">' + result[i].site + '</td>';
                       tbl += '<td class="text-right">' + start_time+'</td>';
                       tbl += '<td class="text-right">' + stop_time+'</td>';
                        tbl += '<td  class="text-right">' + result[i].ac_capacity.toFixed(2) + '</td>';
                       tbl += '<td class="text-right">' + result[i].trackers_in_BD.toFixed(2) + '</td>';
                       tbl += '<td class="text-right">' + result[i].module_tracker.toFixed(2) + '</td>';
                       tbl += '<td class="text-right">' + result[i].module_WP.toFixed(2) + '</td>';
                       tbl += '<td class="text-right">' + result[i].breakdown_tra_capacity.toFixed(2) + '</td>';
                       tbl += '<td class="text-right">' + result[i].actual_poa.toFixed(2) + '</td>';
                       tbl += '<td class="text-right">' + result[i].actual_ghi.toFixed(2) + '</td>';
                       tbl += '<td class="text-right">' + result[i].target_aop_pr.toFixed(2) + '</td>';
                       tbl += '<td class="text-right">' + result[i].tracker_loss.toFixed(2) + '</td>';
                       tbl += '<td style="text-align:left">' + result[i].remark + '</td>';
                        tbl += '</tr>';


                    }
                }
                else {

                    // tbl += '<tr><th colspan="19" style="text-align:center">Data Not Available <th></tr>';
                }




                tbl += '</table>';
               // $("#DailyGenView").html(tbl);
                $("#DailyGenView").html("").html(tbl);
                $('#example1').DataTable({
                    dom: 'Bfrtip',
                    fixedHeader: true,
                    responsive: true,
                    scrollX: true,
                    lengthChange: false,
                    autoWidth: true,
                    paging: true,
                    lengthChange: false,
                    searching: true,
                    ordering: true,
                    info: true,
                    autoWidth: true,
                    fixedColumns: {
                        left: 4
                    },
                    pageLength: 50,
                    buttons: [
                        {
                            extend: 'excel',
                            title: 'Solar Tracker Loss',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'csv',
                            title: 'Solar Tracker Loss',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },

                        'colvis',
                        {
                            text: '<span class="fas fa-file-excel" title="Download from DB up to six decimal"></span>',
                            className: 'btn ml-1   ',

                            action: function () {
                                exportToExcel();
                            }
                        },
                    ],
                });
                $(".dt-buttons").addClass('btn-group flex-wrap');
                $(".dt-buttons > button").addClass('btn btn-secondary');
                $(".dataTables_filter> label >input").addClass('form-control form-control-sm');
               // $('#example1').wrap("<div class='scrolledTable'></div>");
                //document.getElementById("wms_comparision").style.display = 'block';
                //$('#example1').removeClass('dataTable');
            }
        });
    }


</script>




