@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Http;

@inject IHttpContextAccessor HttpContextAccessor;
@model DGRA_V1.Models.CountryList
@{
    ViewData["Title"] = "Wind Site Master Reports";
}
@{
    string windSiteList = "";

    var usermodel = JsonConvert.DeserializeObject<UserAccess>(@HttpContextAccessor.HttpContext.Session.GetString("UserAccess"));

}
@for (int i = 0; i < @usermodel.access_list.Count; i++)
{

    if (@usermodel.access_list[i].page_type == 3 && @usermodel.access_list[i].site_type == 1)
    {
        windSiteList += @usermodel.access_list[i].identity.ToString() + ",";
    }


}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="~/Content/theme/plugins/fontawesome-free/css/all.min.css">
<!-- daterange picker -->
<link rel="stylesheet" href="~/Content/theme/plugins/daterangepicker/daterangepicker.css">
<!-- DataTables -->
<link rel="stylesheet" href="~/Content/theme/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/Content/theme/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/Content/theme/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
<!--<link href="~/Content/theme/plugins/datatables/fixedHeader.dataTables.min.css" rel="stylesheet" />-->
<link href="~/Content/theme/dist/css/adminlte.css" rel="stylesheet" />
<style>
    .tab-btn {
        font-size: 0.7rem;
        font-weight: bold;
    }
</style>

<div class="content-wrapper">

    <section class="content-header">
    </section>


    <section class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title  text-center">Wind Site Master</h3>

            </div>
            <div class="card-body">
                <div id="siteData" style="overflow-x: auto;" class="siteData"></div>
                <div id="DailyTargetKPIView" style="overflow-x: auto;" class="DailyTargetKPIView"></div>
            </div>
        </div>



    </section>

</div>
<script src="~/Content/theme/plugins/jquery/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="~/Content/theme/plugins/moment/moment.min.js"></script>
<script src="~/Content/theme/plugins/daterangepicker/daterangepicker.js" defer></script>
<script src="~/Content/theme/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>

<script src="~/Content/theme/plugins/summernote/summernote-bs4.min.js"></script>
<!--Datatable -->
<!-- DataTables  & Plugins -->
<script src="~/Content/theme/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/theme/plugins/datatables/jquery.dataTables.js" defer></script>
<script src="~/Content/theme/plugins/datatables/dataTables.fixedHeader.min.js" defer></script>
<script src="~/Content/theme/plugins/datatables-buttons/js/dataTables.buttons.min.js" defer></script>
<script src="~/Content/theme/plugins/jszip/jszip.min.js" defer></script>
<script src="~/Content/theme/plugins/datatables-buttons/js/buttons.html5.min.js" defer></script>
<script src="~/Content/theme/plugins/pdfmake/pdfmake.min.js" defer></script>
<script src="~/Content/theme/plugins/datatables-buttons/js/buttons.colVis.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js"></script>
<!--<script src="~/Content/theme/plugins/datatables/dataTables.fixedHeader.min.js" defer></script>-->
<script type="text/javascript">
    var userIdFromSession = "@Html.Raw(@HttpContextAccessor.HttpContext.Session.GetString("userid"))";
    var userRoles = "@Html.Raw(@HttpContextAccessor.HttpContext.Session.GetString("role"))";
    var isAdmin = 0;
    if (userRoles == "Admin") {
        isAdmin = 1;
    }
    const columnMap = {};
    const userColumnId = [];

    var exceldata;
    window.onload = function () {

        console.log("User Id from session" + userIdFromSession);
        getPageColumns();
        getUserGroupColumns();
        getSiteData();
    }
    function getPageColumns() {
        $.ajax({
        type: "GET",
       // url: "/WindReport/GetSiteMaster",
          url: '@Url.Action("GetPageColumns", "Home")' + '?page_id=7',
        contentType: "application/json; charset=utf-8",
        //data: '{"countryname":"' + selcountry + '"}',
        datatype: "html",
        success: function (result, status, xhr) {
            if (result.length > 0) {
                console.log(result);
                result.forEach(item => {
                    columnMap[item.column_name] = [item.column_id, item.required];
                });
                console.log(columnMap);
                console.log(columnMap["Country"], " : ", columnMap["Country"][0], "  :  ", columnMap["Country"][1]);
            }
            else {
            }
        }
    });
    }
    function getUserGroupColumns() {
        $.ajax({
        type: "GET",
            // url: "/WindReport/GetSiteMaster",
            url: '@Url.Action("GetUserGroupColumns", "Home")' + '?page_id=7&userId=' + userIdFromSession,
        contentType: "application/json; charset=utf-8",
        //data: '{"countryname":"' + selcountry + '"}',
        datatype: "html",
        success: function (result, status, xhr) {
            if (result.length > 0) {
                console.log(result);
                result.forEach(item => {
                    userColumnId.push(item.column_id);
                });
                console.log(userColumnId);
            }
            else {
            }
        }
    });
    }


    function exportToExcel() {

        result = exceldata;
        var columns = [
            "Country", "Site", "SPV", "State", "Model","Lat_Long", "DOC", "Capacity", "WTG", "Total_MW", "Tariff", "GBI", "Total_Tariff"
            , "LL_Compensation", "Hub_Height","Rotor_Dia", "PSS_Capacity", "GSS_Name", "GSS_Voltage", "GSS_capacity", "Type_Of_Project"
        ];

        var rows = [];
        for (var i = 0; i < result.length; i++) {
            var row = [];
            var formattedDate = moment(result[i].doc, 'YYYY/MM/DD').format('DD-MM-YYYY');
            row.push(result[i].country);
            row.push(result[i].site);
            row.push(result[i].spv);
            row.push(result[i].state);
            row.push(result[i].model);
            row.push(result[i].lat_long);
            row.push(formattedDate);
            row.push(result[i].capacity_mw);
            row.push(result[i].wtg);
            row.push(result[i].total_mw);
            row.push(result[i].tarrif);
            row.push(result[i].gbi);
            row.push(result[i].total_tarrif);
            row.push(result[i].ll_compensation);
            row.push(result[i].hub_height);
            row.push(result[i].rotor_dia);
            row.push(result[i].pss_capacity);
            row.push(result[i].gss_name);
            row.push(result[i].gss_voltage);
            row.push(result[i].gss_capacity);
            row.push(result[i].type_of_project);

            rows.push(row);
        }

        var data = [columns].concat(rows);

        var ws = XLSX.utils.aoa_to_sheet(data);
        var wb = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(wb, ws, "Wind Site Master");
        var wbout = XLSX.write(wb, { bookType: 'xlsx', type: 'binary' });

        function s2ab(s) {
            var buf = new ArrayBuffer(s.length);
            var view = new Uint8Array(buf);
            for (var i = 0; i !== s.length; ++i) view[i] = s.charCodeAt(i) & 0xFF;
            return buf;
        }

        saveAs(new Blob([s2ab(wbout)], { type: "application/octet-stream" }), "Wind Site Master.xlsx");

    }

    function getSiteData() {
        var userRole = "@Html.Raw(@HttpContextAccessor.HttpContext.Session.GetString("role"))";
        var site_ids = "@Html.Raw(windSiteList.TrimEnd(','))";
    $.ajax({
        type: "GET",
       // url: "/WindReport/GetSiteMaster",
        url: '@Url.Action("GetSiteMaster", "WindReport")' + '?sitelist=' + site_ids,
        contentType: "application/json; charset=utf-8",
        //data: '{"countryname":"' + selcountry + '"}',
        datatype: "html",
        success: function (result, status, xhr) {

            console.log(result);
            var tbl = '<table id="example1"  class="table table-bordered table-striped dataTable dtr-inline">';
            tbl += '<thead class="tbl-head"><tr>';
            if (userColumnId.includes(columnMap["Country"][0]) || columnMap["Country"][1] == 1 || isAdmin == 1) {
                tbl += '<th>Country</th>';
            }
            if (userColumnId.includes(columnMap["Site"][0]) || columnMap["Site"][1] == 1 || isAdmin == 1) {
                tbl += '<th>Site</th>';
            }
            if (userColumnId.includes(columnMap["SPV"][0]) || columnMap["SPV"][1] == 1 || isAdmin == 1) {
                tbl += '<th>SPV</th>';
            }
            if (userColumnId.includes(columnMap["State"][0]) || columnMap["State"][1] == 1 || isAdmin == 1) {
                tbl += '<th>State</th>';
            }
            if (userColumnId.includes(columnMap["Model"][0]) || columnMap["Model"][1] == 1 || isAdmin == 1) {
                tbl += '<th>Model</th>';
            }
            if (userColumnId.includes(columnMap["Lat_Long"][0]) || columnMap["Lat_Long"][1] == 1 || isAdmin == 1) {
                tbl += '<th>Lat_Long</th>';
            }
            if (userColumnId.includes(columnMap["DOC"][0]) || columnMap["DOC"][1] == 1 || isAdmin == 1) {
                tbl += '<th>DOC</th>';
            }
            if (userColumnId.includes(columnMap["Capacity"][0]) || columnMap["Capacity"][1] == 1 || isAdmin == 1) {
                tbl += '<th>Capacity<br>(MW)</th>';
            }
            if (userColumnId.includes(columnMap["WTG"][0]) || columnMap["WTG"][1] == 1 || isAdmin == 1) {
                tbl += '<th>WTG</th>';
            }
            if (userColumnId.includes(columnMap["Total_MW"][0]) || columnMap["Total_MW"][1] == 1 || isAdmin == 1) {
                tbl += '<th>Total_MW</th>';
            }
            if (userColumnId.includes(columnMap["Tarrif"][0]) || columnMap["Tarrif"][1] == 1 || isAdmin == 1) {
                tbl += '<th>Tariff</th>';
            }
            if (userColumnId.includes(columnMap["GBI"][0]) || columnMap["GBI"][1] == 1 || isAdmin == 1) {
                tbl += '<th>GBI</th>';
            }
            if (userColumnId.includes(columnMap["Total_tarrif"][0]) || columnMap["Total_tarrif"][1] == 1 || isAdmin == 1) {
                tbl += '<th>Total_Tariff</th>';
            }
            if (userColumnId.includes(columnMap["LL_compensation"][0]) || columnMap["LL_compensation"][1] == 1 || isAdmin == 1) {
                tbl += '<th>LL_Compensation<br>(%)</th>';
            }
            if (userColumnId.includes(columnMap["Hub_Height"][0]) || columnMap["Hub_Height"][1] == 1 || isAdmin == 1) {
                tbl += '<th>Hub_Height</th>';
            }
            if (userColumnId.includes(columnMap["Rotor_Dia"][0]) || columnMap["Rotor_Dia"][1] == 1 || isAdmin == 1) {
                tbl += '<th>Rotor_Dia</th>';
            }
            if (userColumnId.includes(columnMap["PSS_Capacity"][0]) || columnMap["PSS_Capacity"][1] == 1 || isAdmin == 1) {
                tbl += '<th>PSS_Capacity</th>';
            }
            if (userColumnId.includes(columnMap["GSS_Name"][0]) || columnMap["GSS_Name"][1] == 1 || isAdmin == 1) {
                tbl += '<th>GSS_Name</th>';
            }
            if (userColumnId.includes(columnMap["GSS_Voltage"][0]) || columnMap["GSS_Voltage"][1] == 1 || isAdmin == 1) {
                tbl += '<th>GSS_Voltage</th>';
            }
            if (userColumnId.includes(columnMap["GSS_capacity"][0]) || columnMap["GSS_capacity"][1] == 1 || isAdmin == 1) {
                tbl += '<th>GSS_capacity</th>';
            }
            if (userColumnId.includes(columnMap["Type_Of_Project"][0]) || columnMap["Type_Of_Project"][1] == 1 || isAdmin == 1) {
                tbl += '<th>Type_Of_Project</th>';
            }
            if (userColumnId.includes(columnMap["Action"][0]) || columnMap["Action"][1] == 1 || isAdmin == 1) {
                tbl += '<th style="width:10%">Action</th>';
            }
            tbl += '</tr></thead>';

            if (result.length > 0) {
                    exceldata = result;
                for (var i = 0; i < result.length; i++) {
                    var formattedDate = moment(result[i].doc, 'YYYY/MM/DD').format('DD-MM-YYYY');

                    tbl += '<tr>';
                    if (userColumnId.includes(columnMap["Country"][0]) || columnMap["Country"][1] == 1 || isAdmin == 1) {
                        tbl += '<td class="text-left">' + result[i].country + '</td>';
                    }
                    if (userColumnId.includes(columnMap["Site"][0]) || columnMap["Site"][1] == 1 || isAdmin == 1) {
                        tbl += '<td class="text-left" style="text-wrap: nowrap;">' + result[i].site + '</td>';
                    }
                    if (userColumnId.includes(columnMap["SPV"][0]) || columnMap["SPV"][1] == 1 || isAdmin == 1) {
                        tbl += '<td class="text-left" style="text-wrap: nowrap;">' + result[i].spv + '</td>';
                    }
                    if (userColumnId.includes(columnMap["State"][0]) || columnMap["State"][1] == 1 || isAdmin == 1) {
                        tbl += '<td class="text-left">' + result[i].state + '</td>';
                    }
                    if (userColumnId.includes(columnMap["Model"][0]) || columnMap["Model"][1] == 1 || isAdmin == 1) {
                        tbl += '<td class="text-left" style="text-wrap: nowrap;">' + result[i].model + '</td>';
                    }
                    if (userColumnId.includes(columnMap["Lat_Long"][0]) || columnMap["Lat_Long"][1] == 1 || isAdmin == 1) {
                        tbl += '<td class="text-left" style="text-wrap: nowrap;">' + result[i].lat_long + '</td>';
                    }
                    if (userColumnId.includes(columnMap["DOC"][0]) || columnMap["DOC"][1] == 1 || isAdmin == 1) {
                        tbl += '<td class="text-left" style="text-wrap: nowrap;">' + formattedDate + '</td>';
                    }
                    if (userColumnId.includes(columnMap["Capacity"][0]) || columnMap["Capacity"][1] == 1 || isAdmin == 1) {
                        tbl += '<td class="text-right">' + result[i].capacity_mw.toFixed(2) + '</td>';
                    }
                    if (userColumnId.includes(columnMap["WTG"][0]) || columnMap["WTG"][1] == 1 || isAdmin == 1) {
                        tbl += '<td class="text-right">' + result[i].wtg + '</td>';
                    }
                    if (userColumnId.includes(columnMap["Total_MW"][0]) || columnMap["Total_MW"][1] == 1 || isAdmin == 1) {
                        tbl += '<td class="text-right">' + result[i].total_mw.toFixed(2) + '</td>';
                    }
                    if (userColumnId.includes(columnMap["Tarrif"][0]) || columnMap["Tarrif"][1] == 1 || isAdmin == 1) {
                        tbl += '<td class="text-right">' + result[i].tarrif.toFixed(2) + '</td>';
                    }
                    if (userColumnId.includes(columnMap["GBI"][0]) || columnMap["GBI"][1] == 1 || isAdmin == 1) {
                        tbl += '<td class="text-right">' + result[i].gbi.toFixed(2) + '</td>';
                    }
                    if (userColumnId.includes(columnMap["Total_tarrif"][0]) || columnMap["Total_tarrif"][1] == 1 || isAdmin == 1) {
                        tbl += '<td class="text-right">' + result[i].total_tarrif.toFixed(2) + '</td>';
                    }
                    if (userColumnId.includes(columnMap["LL_compensation"][0]) || columnMap["LL_compensation"][1] == 1 || isAdmin == 1) {
                        tbl += '<td class="text-right">' + result[i].ll_compensation.toFixed(2) + '</td>';
                    }
                    if (userColumnId.includes(columnMap["Hub_Height"][0]) || columnMap["Hub_Height"][1] == 1 || isAdmin == 1) {
                        tbl += '<td class="text-right">' + result[i].hub_height.toFixed(2) + '</td>';
                    }
                    if (userColumnId.includes(columnMap["Rotor_Dia"][0]) || columnMap["Rotor_Dia"][1] == 1 || isAdmin == 1) {
                        tbl += '<td class="text-right">' + result[i].rotor_dia.toFixed(2) + '</td>';
                    }
                    if (userColumnId.includes(columnMap["PSS_Capacity"][0]) || columnMap["PSS_Capacity"][1] == 1 || isAdmin == 1) {
                        tbl += '<td class="text-right">' + result[i].pss_capacity.toFixed(2) + '</td>';
                    }
                    if (userColumnId.includes(columnMap["GSS_Name"][0]) || columnMap["GSS_Name"][1] == 1 || isAdmin == 1) {
                        tbl += '<td class="text-right">' + result[i].gss_name + '</td>';
                    }
                    if (userColumnId.includes(columnMap["GSS_Voltage"][0]) || columnMap["GSS_Voltage"][1] == 1 || isAdmin == 1) {
                        tbl += '<td class="text-right">' + result[i].gss_voltage.toFixed(2) + '</td>';
                    }
                    if (userColumnId.includes(columnMap["GSS_capacity"][0]) || columnMap["GSS_capacity"][1] == 1 || isAdmin == 1) {
                        tbl += '<td class="text-right">' + result[i].gss_capacity.toFixed(2) + '</td>';
                    }
                    if (userColumnId.includes(columnMap["Type_Of_Project"][0]) || columnMap["Type_Of_Project"][1] == 1 || isAdmin == 1) {
                        tbl += '<td class="text-right">' + result[i].type_of_project.toFixed(2) + '</td>';
                    }
                    if (userColumnId.includes(columnMap["Action"][0]) || columnMap["Action"][1] == 1 || isAdmin == 1) {
                        tbl += '<td class="text-center"><a href="#"  class="btn btn-block btn-danger" onclick="DeleteWindSite(' + result[i].site_master_id + ')"  style="padding: 0.15rem 0.75rem;width: 70%;display: inline;" >Delete</a></td>';
                    }
                    tbl += '</tr>';
                }
            }
            else {

                // tbl += '<tr><th colspan="19" style="text-align:center">Data Not Available <th></tr>';
            }
            tbl += '</table>';
           // $("#siteData").html(tbl);
            $("#siteData").html("").html(tbl);
            $.fn.DataTable.ext.pager.numbers_length = 6;
            $('#example1').DataTable({
                dom: 'Bfrtip',
                fixedHeader: true,
                responsive: true,
                scrollX: true,
                lengthChange: false,
                autoWidth: true,
                paging: true,
                lengthChange: false,
                searching: true,
                ordering: true,
                info: true,
                autoWidth: true,
                pageLength: 50,

                    buttons: [
                        {
                            extend: 'excel',
                            title: 'Wind Site Master',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'csv',
                            title: 'Wind Site Master',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },

                        'colvis',
                        {
                            text: '<span class="fas fa-file-excel" title="Download from DB up to six decimal"></span>',
                            className: 'btn ml-1   ',
                            action: function () {
                                exportToExcel();
                            }
                        },
                    ],
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $(".dt-buttons").addClass('btn-group flex-wrap');
            $(".dt-buttons > button").addClass('btn btn-secondary');
            $(".dataTables_filter> label >input").addClass('form-control form-control-sm');
            $(document).on("click", "div.dt-button-collection > div > button", function () {
                if ($(this).hasClass("active")) {
                    $(this).css("background-color", "white");
                } else {
                    $(this).css("background-color", "#31576d");
                }
            });

            $('#example1').removeClass('dataTable');
        }
    });
    }

    function DeleteWindSite(siteid) {
      $.ajax({
        type: "GET",
       // url: "/WindReport/GetSiteMaster",
          url: '@Url.Action("DeleteWindSite", "WindReport")' + '?siteid=' + siteid,
        contentType: "application/json; charset=utf-8",
        //data: '{"countryname":"' + selcountry + '"}',
        datatype: "html",
        success: function (result, status, xhr) {
            if (result > 0) {
                alert("Record Delete Successfully");
                location.reload();
            }
            else {
                alert("Record Not Delete Please Try Again");
            }
        }
    });
    }

</script>
